//Button Code
button, .btn, input[type="submit"] {
    align-items: center;
    background: $primary;
    border: 1px solid $primary;
    border-radius: 5px;
    cursor: pointer;
    color: $white;
    display: flex;
    font-family: $font;
    font-size: 16px;
    font-weight: $regular;
    height: 60px;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 16px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease-in-out;
    width: fit-content;
    
    @include MQ($S) {
        height: 44px;
        padding: 8px 24px;
    }
    
    &:hover {
        background: transparent;
        color: $primary;
    }
}

.btn {
    &--secondary {
        background: transparent;
        color: $primary;
        
        &:hover {
            background: $primary;
            color: $white;
        }
    }
    
    &--link {
        background: transparent;
        border: none;
        color: $black;
        height: auto;
        padding: 5px 10px;
        text-decoration: underline;
        text-transform: none;
        
        &:hover {
            background: transparent;
            color: $primary;
        }
    }
    
    &--icon i {
        margin-left: 5px;
    }

    &--rounded {
        border-radius: 50px;
    }

    &--voltar {
        align-items: center;
        color: $white;
        display: flex;
        margin: 0 0 30px;
        text-decoration: none;
        text-transform: uppercase;
        transition: color .5s ease-in-out;

        &:hover {
            color: $secondary;
        }

        i {
            font-size: 26px;
            margin-right: 15px;
        }
        
        @include MQ($S) {
            display: none;
        }
    }
}