.home {
    &__banner {
        height: 100vh;
        position: relative;
        width: 100vw;

        @include MQ($XL) {
            width: 100%;
        }

        @include MQ($M) {
            height: 500px;
            max-height: 500px;
        }
        
        &-video {
            height: 100%;
            position: absolute;
            width: 100%;
            z-index: -1;
            
            &:after {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(180deg, rgba(0, 0, 0, 0.7) 6.48%, rgba(255, 255, 255, 0.377494) 39.26%, rgba(0, 0, 0, 0) 59.47%, rgba(0, 0, 0, 0.6) 88.94%);
                content: '';
                height: 100%;
                left: 0;
                mix-blend-mode: multiply;
                opacity: 0.9;
                position: absolute;
                top: 0;
                width: 100%;
            }
            
            video, img {
                height: 100vh;
                object-fit: cover;
                width: 100%;

                @include MQ($M) {
                    height: 100%;
                }
            }
        }
        
        &-content {
            height: 100%;
            margin: auto;
            max-width: 1340px;
            position: relative;
            
            @include MQ($XL) {
                max-width: 1170px;
            }

            @include MQ($L) {
                margin: 0 40px;
            }

            @include MQ($M) {
                margin: 0;
            }
        }
        
        &-carousel {
            bottom: 220px;
            left: 0;
            position: absolute !important;
            width: 100%;
            
            @include MQ($XL) {
                bottom: 120px;
            }
            
            @include MQ($M) {
                bottom: 100px;
                margin: 0 40px;
                width: calc(100% - 80px);
            }
            
            @include MQ($S) {
                margin: 0 20px;
                width: calc(100% - 40px);
            }
            
            .flickity {
                &-button {
                    background: transparent;
                    border: 1px solid transparent;
                    border-radius: 5px;
                    height: 50px;
                    outline: none !important;
                    padding: 0;
                    transition: all .5s ease-in-out;
                    width: 50px;
                    
                    &:focus {
                        box-shadow: none;
                    }
                    
                    &:after {
                        background: url(../images/icons/slide-arrow.svg) no-repeat;
                        background-size: contain;
                        content: '';
                        height: 22px;
                        filter: grayscale(3) brightness(5);
                        left: 50%;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        top: 50%;
                        transition: all .5s ease-in-out;
                        width: 12px;
                    }
                    
                    svg {
                        display: none;
                    }
                    
                    &:hover {
                        background: $green;
                        border-color: $green;
                        
                        @include MQ($M) {
                            background: transparent;
                            border-color: transparent;
                            opacity: .7;
                        }
                    }
                }
                
                &-prev-next-button {
                    bottom: -120px;
                    top: auto;
                    transform: none;
                    
                    @include MQ($XL) {
                        bottom: -80px;
                    }
                    
                    &.previous {
                        left: 0;
                        
                        &:after {
                            transform: translate(-50%, -50%) rotate(180deg);
                        }
                    }
                    
                    &.next {
                        left: 220px;
                    }
                }
                
                &-page-dots {
                    bottom: -100px;
                    left: 70px;
                    text-align: left;
                    width: 160px;
                    
                    @include MQ($XL) {
                        bottom: -60px;
                    }
                    
                    .dot {
                        background: $white;
                        border-radius: 1px;
                        height: 4px;
                        margin: 0 12px;
                        opacity: 1;
                        transition: all .5s ease-in-out;
                        width: 4px;
                        
                        &.is-selected {
                            background: $green;
                            width: 20px;
                        }
                    }
                }
            }
        }
        
        &-item {
            color: $white;
            width: 100%;
            
            h1 {
                margin: 0;
                
                @include MQ($M) {
                    font-size: 37px;
                }
            }
            
            h4 {
                font-size: 22px;
                font-weight: 400;
                margin: 5px 0 50px;
                
                @include MQ($M) {
                    font-size: 16px;
                    margin: 5px 0 30px;
                }
            }
            
            .btn {
                background: transparent;
                border-color: $white;
                color: $white;
                font-weight: 500;
                
                &:hover {
                    background: $white;
                    color: $primary;
                }
            }
        }
    }
    
    &__slider {
        background: $primary;
        margin-bottom: 170px;
        
        @include MQ($M) {
            margin-bottom: 120px;
        }

        @include MQ(600px) {
            margin-bottom: 170px;
        }
        
        &-content {
            padding: 100px 0;
            position: relative;
            
            @include MQ($L) {
                padding: 70px 0;
            }

            @include MQ($M) {
                padding: 50px 0;
            }

            @include MQ(600px) {
                padding: 50px 0 200px;
            }
        }
        
        &-carousel {
            max-width: 540px;

            @include MQ($L) {
                max-width: 50%;
            }

            @include MQ(600px) {
                max-width: 100%;
            }
            
            .flickity {
                &-button {
                    background: $secondary;
                    border: 1px solid $secondary;
                    border-radius: 5px;
                    height: 60px;
                    outline: none !important;
                    padding: 0;
                    width: 60px;
                    
                    @include MQ($M) {
                        height: 45px;
                        width: 45px;
                    }
                    
                    &:after {
                        background: url(../images/icons/slide-arrow.svg) no-repeat;
                        background-size: contain;
                        content: '';
                        height: 22px;
                        left: 50%;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        top: 50%;
                        transition: all .5s ease-in-out;
                        width: 12px;
                    }
                    
                    svg {
                        display: none;
                    }
                    
                    &:hover {
                        background: $primary;
                        color: $secondary;
                        
                        &:after {
                            background: url(../images/icons/slide-arrow-yellow.svg) no-repeat;
                        }
                    }
                }
                
                &-prev-next-button {
                    bottom: 0;
                    top: auto;
                    transform: none;
                    
                    &.next {
                        @include MQ($L) {
                            right: 0;
                        }
                    }
                    
                    &.previous {
                        left: auto;
                        right: 80px;
                        
                        @include MQ($M) {
                            right: 60px;
                        }
                        
                        &:after {
                            transform: translate(-50%, -50%) rotate(180deg);
                        }
                    }
                }
            }
        }
        
        &-item {
            color: $white;
            width: 100%;
            
            .h2 {
                font-weight: 700;
                margin: 0;

                @include MQ($L) {
                    font-size: 28px;
                }

                @include MQ($XS) {
                    font-size: 22px;
                }
            }
            
            p {
                font-size: 22px;
                font-weight: 350;
                margin: 30px 0 40px;
                
                @include MQ($L) {
                    font-size: 18px;
                }
                
                @include MQ($S) {
                    font-size: 16px;
                }
            }
            
            .btn {
                background: $secondary;
                border-color: $secondary;
                color: $primary;
                font-weight: 500;
                
                &:hover {
                    background: $primary;
                    color: $secondary;
                }
            }
        }
        
        &-img {
            bottom: -100px;
            height: 505px;
            position: absolute;
            right: -135px;
            width: 620px;
            
            @include MQ($XL) {
                right: -55px;
            }
            
            @include MQ($L) {
                bottom: -70px;
                height: 370px;
                right: -40px;
                width: 420px;
            }
            
            @include MQ($M) {
                bottom: -50px;
                height: 300px;
                width: 350px;
            }

            @include MQ($S) {
                right: -20px;
            }

            @include MQ(600px) {
                bottom: -110px;
                height: 270px;
                width: 80%;
            }

            @include MQ($XS) {
                bottom: -100px;
                height: 250px;
                width: 90%;
            }
            
            img {
                border: 10px solid $white;
                border-radius: 10px;
                height: 100%;
                margin-bottom: -5px;
                object-fit: cover;
                width: 100%;

                @include MQ($XL) {
                    border-right: 0;
                    border-radius: 10px 0 0 10px;
                }
                
                @include MQ($M) {
                    border-right: 0;
                    border-radius: 10px 0 0 10px;
                }
            }
            
            small {
                color: $black;
                opacity: .5;
                margin-left: 10px;
            }
        }
    }
    
    &__visao {
        align-items: center;
        flex-wrap: wrap;
        height: 520px;
        
        @include MQ($L) {
            height: 370px;
        }
        
        @include MQ($M) {
            height: 290px;
            margin-bottom: 70px;
        }
        
        @include MQ(600px) {
            height: 100%;
            margin-bottom: -50px;
        }
        
        &-img {
            height: 100%;
            position: relative;
            width: 680px;

            @include MQ($L) {
                width: 500px;
            }

            @include MQ($M) {
                width: 100%;
            }
            
            @include MQ(600px) {
                height: 260px;
                width: 100%;
            }
            
            img {
                border-radius: 5px;
                height: 370px;
                object-fit: cover;
                width: 445px;

                @include MQ($L) {
                    height: 270px;
                    width: 350px;
                }

                @include MQ($M) {
                    height: 230px;
                    width: 280px;
                }
                
                @include MQ(600px) {
                    max-height: 210px;
                    max-width: 280px;
                    height: auto;
                    width: 70%;
                }
                
                &:last-child {
                    border: 10px solid $white;
                    border-radius: 10px;
                    bottom: 0;
                    position: absolute;
                    right: 0;
                    
                    @include MQ($M) {
                        border-width: 5px;
                    }
                }
            }
        }
        
        &-imgs {
            height: 100%;
            margin-right: 50px;

            @include MQ($L) {
                width: 55%;
            }

            @include MQ($M) {
                margin-right: 0;
                width: 50%;
            }

            @include MQ(600px) {
                margin-right: 0;
                width: 100%;
            }
            
            small {
                display: block;
                margin-top: 3px;
                text-align: right;
            }
        }
        
        &-desc {
            max-width: 370px;

            @include MQ($M) {
                margin: 30px 0 40px auto;
                max-width: 45%;
            }
            
            @include MQ(600px) {
                margin: 30px auto 40px;
                max-width: 100%;
                width: 100%;
            }
            
            h2 {
                margin: 0;
                font-weight: 700;
                
                @include MQ($L) {
                    font-size: 28px;
                }
            }
            
            p {
                color: $gray-dark;
                font-size: 22px;
                font-weight: 400;
                margin: 30px 0 40px;
                
                @include MQ($L) {
                    font-size: 18px;
                }
                
                @include MQ($M) {
                    font-size: 16px;
                    margin: 10px 0 25px;
                }
            }
            
            .btn {
                @include MQ($M) {
                    justify-content: center;
                    width: 100%;
                }
            }
        }
    }
    
    &__doadores {
        margin: 100px auto;
        
        @include MQ($M) {
            margin: 50px 40px;
        }
        
        @include MQ($S) {
            margin: 40px 20px;
        }
        
        .h2 {
            margin-bottom: 60px;
            text-align: center;
            
            @include MQ($M) {
                font-size: 28px;
                margin-bottom: 20px;
            }
        }
        
        &-list {
            align-items: center;
            flex-wrap: wrap;
        }
        
        &-item {
            align-items: center;
            height: 85px;
            margin: 5px;
            width: 170px;
            
            @include MQ($M) {
                height: 60px;
                margin: 0;
                max-width: 120px;
                width: 33%;
            }
            
            img {
                height: 100%;
                max-height: 65px;
                max-width: 140px;
                padding: 5px 15px;
                object-fit: contain;
                width: 100%;
                
                @include MQ($M) {
                    max-height: 50px;
                    max-width: 110px;
                }
                
                @include MQ($S) {
                    max-height: 40px;
                    max-width: 90px;
                    padding: 1px 5px;
                }
            }
        }
    }
}