<footer>
    <div class="footer__container flex--sb wrapper">
        <div class="footer__column footer__column--logo">
            <a href="/pages/"><img src="../assets/images/logos/logo.svg" alt="Coalizão Brasil - Clima, florestas e agricultura" title="Coalizão Brasil - Clima, florestas e agricultura" class="footer__logo"></a>
        </div>
        
        <div class="footer__column">
            <ul>
                <div class="footer__column-title h5">A Coalizão</div>
                
                <li>
                    <a href="/pages/sobre.html">Sobre nós</a>
                </li>
                <li>
                    <a href="/pages/membros.html">Membros</a>
                </li>
                <li>
                    <a href="/pages/apoio.html">Instituto de Apoio à Coalizão</a>
                </li>
            </ul>
            
            <div class="footer__social show-desk">
                <div class="footer__column-title h5">Nossas redes</div>
                
                <div class="footer__social-list flex--st">
                    <a href="https://www.youtube.com/CoalizaoBrasil"><img src="../assets/images/icons/youtube.svg" alt="Se inscreva no nosso canal" title="Se inscreva no nosso canal"></a>
                    <a href="https://twitter.com/coalizao_brasil"><img src="../assets/images/icons/twitter.svg" alt="Siga-nos no Twitter" title="Siga-nos no Twitter"></a>
                    <a href="http://www.facebook.com/coalizaobrasil"><img src="../assets/images/icons/facebook.svg" alt="Curta nossa página no Facebook" title="Curta nossa página no Facebook"></a>
                    <a href="https://www.linkedin.com/company/coalizaobrasil"><img src="../assets/images/icons/linkedin.svg" alt="Siga-nos no Linkedin" title="Siga-nos no Linkedin"></a>
                    <a href="https://www.instagram.com/coalizaobrasil/?hl=pt-br"><img src="../assets/images/icons/instagram.svg" alt="Siga-nos no Instagram" title="Siga-nos no Instagram"></a>
                </div>
            </div>
        </div>
        
        <div class="footer__column">
            <ul>
                <div class="footer__column-title h5">Notícias</div>
            </ul>
        </div>
        
        <div class="footer__column">
            <ul>
                <div class="footer__column-title h5">Propostas</div>
                
                <li>
                    <a href="/pages/posicionamentos.html">Posicionamentos</a>
                </li>
                <li>
                    <a href="/pages/publicacoes.html">Publicações</a>
                </li>
                <li>
                    <a href="/pages/visao.html">Visão 2030-2050</a>
                </li>
                <li>
                    <a href="/pages/eleicoes.html">Rota Eleições 2022</a>
                </li>
            </ul>
        </div>
        
        <div class="footer__column">
            <ul>
                <div class="footer__column-title h5">Atuação</div>
                
                <li>
                    <a href="/pages/foruns.html">Fóruns</a>
                </li>
                <li>
                    <a href="/pages/forca-tarefa.html">Força-Tarefa</a>
                </li>
                <li>
                    <a href="/pages/painel-controle.html">Painel de Controle</a>
                </li>
                <li>
                    <a href="/pages/atuacao.html">Atuação Internacional</a>
                </li>
            </ul>
        </div>
        
        <div class="footer__column">
            <ul>
                <div class="footer__column-title h5">Agenda</div>
                
                <div class="footer__column-title h5">Contato</div>
            </ul>
        </div>
        
        <div class="footer__social show-mobile">
            <div class="footer__column-title h5">Nossas redes</div>
            
            <div class="footer__social-list flex--st">
                <a href="https://www.youtube.com/CoalizaoBrasil"><img src="../assets/images/icons/youtube.svg" alt="Se inscreva no nosso canal" title="Se inscreva no nosso canal"></a>
                <a href="https://twitter.com/coalizao_brasil"><img src="../assets/images/icons/twitter.svg" alt="Siga-nos no Twitter" title="Siga-nos no Twitter"></a>
                <a href="http://www.facebook.com/coalizaobrasil"><img src="../assets/images/icons/facebook.svg" alt="Curta nossa página no Facebook" title="Curta nossa página no Facebook"></a>
                <a href="https://www.linkedin.com/company/coalizaobrasil"><img src="../assets/images/icons/linkedin.svg" alt="Siga-nos no Linkedin" title="Siga-nos no Linkedin"></a>
                <a href="https://www.instagram.com/coalizaobrasil/?hl=pt-br"><img src="../assets/images/icons/instagram.svg" alt="Siga-nos no Instagram" title="Siga-nos no Instagram"></a>
            </div>
        </div>
    </div>
</footer>