<section class="membros">
    <div class="membros__content flex--end wrapper">
        <div class="membros__img">
            <img src="../assets/images/global/membros.jpg" alt="" title="">
            <small>Foto: Shane Rounce/Unsplash</small>
        </div>
        
        <div class="membros__desc">
            <div class="h2">Conheça os membros da Coalizão</div>
            <p>Nosso movimento reúne diferentes vozes que acreditam no potencial do Brasil para liderar uma economia verde e inclusiva</p>
            <a href="/pages/membros.html" class="btn">Nossos membros</a>
        </div>
    </div>
</section>