<section class="newsletter">
    <div class="newsletter__content flex--sb wrapper">
        <div class="h2">Assine nossa Newsletter</div>
        
        <form class="newsletter__form col-6 col-m-12">
            <div class="input col-12">
                <label for="">Seu e-mail:</label>
                
                <div class="flex--st">
                    <input type="email">
                    <input type="submit" value="Enviar">
                </div>
            </div>
        </form>
    </div>
</section>