<section class="news wrapper">
    <div class="news__header flex--sb">
        <div class="h2">Destaques</div>
        <a href="/pages/boletim.html" class="btn">Mais notícias</a>
    </div>
    
    <div class="news__content flex--sb">
        <a href="/pages/interna-boletim.html" class="card">
            <div class="card__img">
                <img src="../assets/images/global/news-1.jpg" alt="" title="">
            </div>
            
            <div class="card__body">
                <div class="card__body-chips flex--st">
                    <div class="chips chips--categorias">
                        <div class="chips__text">
                            Boletim
                        </div>
                    </div>
                    
                    <div class="chips chips--secondary chips--datas">
                        <div class="chips__text">
                            05/04/2023
                        </div>
                    </div>
                </div>
                
                <div class="card__body-title">Coalizão muda forças-tarefa para discutir desenvolvimento do país</div>
                <p>Desde sua fundação, a Coalizão Brasil promove agenda sustentável e influencia sociedade e poder público."</p>
            </div>
        </a>
        
        <div class="news__more">
            <a href="/pages/interna-boletim.html" class="card flex--sb">
                <div class="card__img">
                    <img src="../assets/images/global/news-2.jpg" alt="" title="">
                </div>
                
                <div class="card__body">
                    <div class="card__body-chips flex--st">
                        <div class="chips chips--categorias">
                            <div class="chips__text">
                                Posicionamento
                            </div>
                        </div>
                        
                        <div class="chips chips--secondary chips--datas">
                            <div class="chips__text">
                                04/03/2023
                            </div>
                        </div>
                    </div>
                    
                    <div class="card__body-subtitle">Medida Provisória que altera o Código Florestal ameaça proteção da Mata Atlântica</div>
                </div>
            </a>
            
            <a href="/pages/interna-boletim.html" class="card flex--sb">
                <div class="card__img">
                    <img src="../assets/images/global/news-3.jpg" alt="" title="">
                </div>
                
                <div class="card__body">
                    <div class="card__body-chips flex--st">
                        <div class="chips chips--categorias">
                            <div class="chips__text">
                                Painel de Controle
                            </div>
                        </div>
                        
                        <div class="chips chips--secondary chips--datas">
                            <div class="chips__text">
                                03/02/2023
                            </div>
                        </div>
                    </div>
                    
                    <div class="card__body-subtitle">Propostas urgentes da Coalizão são contempladas pelo poder público</div>
                </div>
            </a>
            
            <a href="/pages/interna-boletim.html" class="card flex--sb">
                <div class="card__img">
                    <img src="../assets/images/global/news-4.jpg" alt="" title="">
                </div>
                
                <div class="card__body">
                    <div class="card__body-chips flex--st">
                        <div class="chips chips--categorias">
                            <div class="chips__text">
                                Fórum
                            </div>
                        </div>
                        
                        <div class="chips chips--secondary chips--datas">
                            <div class="chips__text">
                                02/01/2023
                            </div>
                        </div>
                    </div>
                    
                    <div class="card__body-subtitle">Retorno do Brasil à agenda climática reaviva otimismo</div>
                </div>
            </a>
        </div>
    </div>
    
    <div class="news__footer">
        <a href="/pages/boletim.html" class="btn">Mais notícias</a>
    </div>
</section>