@charset "UTF-8";
/* ___ Fonts ___ */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@font-face {
  font-family: 'Unbounded';
  src: url(../fonts/Unbounded/Unbounded-VariableFont_wght.ttf);
  font-weight: 100 900; }

@font-face {
  font-family: 'Cinzel';
  src: url(../fonts/Cinzel/Cinzel-VariableFont_wght.ttf);
  font-weight: 100 900; }

@font-face {
  font-family: 'Julius';
  src: url(../fonts/Julius/JuliusSansOne-Regular.ttf); }

/* ___ Colors ___ */
/* ___ Media Query ___ */
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

body {
  background: #fff;
  color: #000;
  font-family: "Unbounded", "Roboto", "Calibri", "sans-serif";
  margin: 0;
  overflow-x: hidden;
  outline: none;
  padding: 0;
  position: relative; }

.style section {
  margin: 30px; }

.style #chips section {
  display: flex; }

.style #buttons section {
  margin: 30px 10px; }
  .style #buttons section .btn, .style #buttons section button {
    margin: 0 20px; }

.show-desk {
  display: block; }
  @media screen and (max-width: 960px) {
    .show-desk {
      display: none; } }

.show-tablet {
  display: none; }
  @media screen and (max-width: 960px) {
    .show-tablet {
      display: block; } }

.show-mobile {
  display: none; }
  @media screen and (max-width: 758px) {
    .show-mobile {
      display: block; } }

::-webkit-scrollbar {
  background: #fff;
  border-radius: 10px;
  width: 5px; }

::-webkit-scrollbar-track {
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  background: #38F2F2;
  border-radius: 5px; }

blockquote {
  margin: 40px 0;
  quotes: none; }
  blockquote p {
    color: #263640;
    font-family: "Unbounded", "Roboto", "Calibri", "sans-serif";
    font-size: 24px;
    font-weight: 750;
    line-height: 1.5em;
    margin: 0 0 10px; }
  blockquote cite {
    color: #3E4152;
    font-family: "Unbounded", "Roboto", "Calibri", "sans-serif";
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    margin: 0; }
  blockquote.has-text-align-center {
    text-align: center; }
  blockquote.has-text-align-right {
    text-align: right; }

.wp-block-verse {
  color: #263640;
  font-family: "Unbounded", "Roboto", "Calibri", "sans-serif";
  font-size: 24px;
  font-weight: 750;
  line-height: 1.5em;
  quotes: none; }

ul, ol {
  margin: 20px 0;
  padding-left: 20px; }
  ul li, ol li {
    color: #263640;
    font-size: 18px;
    margin: 0 0 8px; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px 0; }

thead tr {
  background: #ccc;
  line-height: 1.3em; }

tbody tr:last-child {
  border-bottom: none; }

tr {
  border-bottom: 1px solid #666; }
  tr td {
    color: #000;
    font-size: 15px;
    padding: 10px 15px; }
    tr td:not(:last-child) {
      border-right: 1px solid #666; }

h1 {
  font-family: "Unbounded", "Roboto", "Calibri", "sans-serif";
  font-size: 84px;
  font-weight: 750;
  line-height: 1.4em; }
  @media screen and (max-width: 758px) {
    h1 {
      font-size: 50px; } }

h2 {
  font-family: "Unbounded", "Roboto", "Calibri", "sans-serif";
  font-size: 64px;
  font-weight: 750;
  line-height: 1.2em; }
  @media screen and (max-width: 758px) {
    h2 {
      font-size: 32px; } }

h3 {
  font-family: "Unbounded", "Roboto", "Calibri", "sans-serif";
  font-size: 24px;
  font-weight: 750;
  line-height: 1.2em; }
  @media screen and (max-width: 758px) {
    h3 {
      font-size: 22px; } }

h4 {
  font-family: "Unbounded", "Roboto", "Calibri", "sans-serif";
  font-size: 22px;
  font-weight: 580;
  line-height: 1.2em; }
  @media screen and (max-width: 758px) {
    h4 {
      font-size: 20px; } }

h5 {
  font-family: "Unbounded", "Roboto", "Calibri", "sans-serif";
  font-size: 20px;
  font-weight: 580;
  line-height: 1.2em; }
  @media screen and (max-width: 758px) {
    h5 {
      font-size: 18px; } }

h6 {
  font-family: "Unbounded", "Roboto", "Calibri", "sans-serif";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3em; }

p {
  font-family: "Unbounded", "Roboto", "Calibri", "sans-serif";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em; }
  @media screen and (max-width: 758px) {
    p {
      font-size: 14px; } }

span {
  font-family: "Unbounded", "Roboto", "Calibri", "sans-serif";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em; }

small {
  font-family: "Unbounded", "Roboto", "Calibri", "sans-serif";
  font-size: 12px;
  font-weight: 300;
  line-height: 1.2em; }

button, .btn, input[type="submit"] {
  align-items: center;
  background: #38F2F2;
  border-radius: 50px;
  cursor: pointer;
  color: #000;
  display: flex;
  font-family: "Roboto", "Calibri", "sans-serif";
  font-size: 20px;
  font-weight: 400;
  height: 44px;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 8px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .5s ease-in-out;
  width: fit-content; }
  button:hover, .btn:hover, input[type="submit"]:hover {
    background: #263640;
    color: #38F2F2; }

.btn--secondary {
  background: transparent;
  color: #38F2F2; }
  .btn--secondary:hover {
    background: #38F2F2;
    color: #fff; }

.btn--link {
  background: transparent;
  border: none;
  color: #000;
  height: auto;
  padding: 5px 10px;
  text-decoration: underline;
  text-transform: none; }
  .btn--link:hover {
    background: transparent;
    color: #38F2F2; }

.btn--icon i {
  margin-left: 5px; }

form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  box-sizing: content-box;
  width: 100%; }

.input, .checkbox, .radio, .select, .textarea, .submit {
  flex-direction: column;
  padding: 0 20px; }

.checkbox, .radio {
  flex-direction: row; }

label {
  display: block;
  font-size: 16px;
  font-weight: 750;
  margin: 10px 0 7px; }

input, select, textarea {
  background: transparent;
  border: 1px solid #E7E3E3;
  border-radius: 5px;
  box-sizing: border-box;
  color: #000;
  font-family: "Unbounded", "Roboto", "Calibri", "sans-serif";
  height: 44px;
  outline: none;
  padding: 10px 16px;
  transition: all .5s ease-in-out;
  width: 100%; }
  input:not(:placeholder-shown), select:not(:placeholder-shown), textarea:not(:placeholder-shown) {
    border-color: #000; }
  input:focus, input:hover, select:focus, select:hover, textarea:focus, textarea:hover {
    box-shadow: 0 0 1px 2px rgba(153, 127, 227, 0.4);
    border-color: #38F2F2; }
  input:invalid, select:invalid, textarea:invalid {
    border-color: #D92124; }

.input {
  margin-bottom: 15px; }
  .input--icon {
    position: relative; }
    .input--icon i {
      font-size: 16px;
      left: 16px;
      line-height: 1.2em;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
    .input--icon input {
      padding-left: 45px;
      width: 311px; }
  .input--small input {
    height: 32px; }
  .input--small i {
    font-size: 14px; }
  .input--small label, .input--small .input__desc {
    font-size: 12px; }
  .input--large input {
    height: 52px; }
  .input__desc {
    color: #898989;
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  text-indent: 0.01px;
  /* Remove seta padrão do FireFox */
  text-overflow: '';
  /* Remove seta padrão do FireFox */ }
  select::-ms-expand {
    display: none; }
  select:not(:placeholder-shown) {
    border-color: #E7E3E3; }

.select {
  cursor: pointer;
  margin: 15px 20px 30px;
  padding: 0;
  position: relative; }
  .select:after {
    border: 1px solid transparent;
    border-bottom-color: #38F2F2;
    border-right-color: #38F2F2;
    content: '';
    height: 10px;
    position: absolute;
    right: 25px;
    top: calc(50% - 5px);
    transform: rotate(45deg) translateY(-50%);
    transition: transform .2s ease-out;
    width: 10px; }

textarea {
  box-sizing: border-box;
  height: 80px;
  line-height: 1.2em;
  margin-bottom: 15px;
  resize: none; }
  textarea::-webkit-scrollbar-track {
    margin: 7px 20px 7px 0; }

::placeholder {
  color: #898989;
  font-size: 14px;
  font-weight: 580; }

.checkbox, .radio {
  align-items: center;
  display: flex;
  margin: 10px 0; }
  .checkbox label, .radio label {
    font-weight: 400;
    font-size: 16px; }

input[type="checkbox"], input[type="radio"] {
  border: transparent;
  border-radius: 3px;
  height: 17px;
  margin: 0 13px 0 1px;
  padding: 0;
  position: relative;
  width: 17px; }
  input[type="checkbox"]:focus, input[type="radio"]:focus {
    box-shadow: none; }
  input[type="checkbox"]:before, input[type="checkbox"]:after, input[type="radio"]:before, input[type="radio"]:after {
    border-radius: 3px;
    content: '';
    cursor: pointer;
    position: absolute;
    transition: all .5s ease-in-out; }
  input[type="checkbox"]:before, input[type="radio"]:before {
    background: #fff;
    border: 1px solid #C8C8C8;
    left: -1px;
    top: -1px;
    height: 20px;
    width: 20px; }
  input[type="checkbox"]:after, input[type="radio"]:after {
    background-image: url(../images/icons/check.svg);
    background-repeat: no-repeat;
    background-size: 12px 10px;
    background-position: center;
    background-color: #997FE340;
    left: -1px;
    opacity: 0;
    top: -1px;
    height: 22px;
    width: 22px; }
  input[type="checkbox"]:checked:before, input[type="checkbox"]:hover:before, input[type="radio"]:checked:before, input[type="radio"]:hover:before {
    border-color: transparent; }
  input[type="checkbox"]:checked:after, input[type="checkbox"]:hover:after, input[type="radio"]:checked:after, input[type="radio"]:hover:after {
    opacity: 1; }
  input[type="checkbox"]:focus, input[type="checkbox"]:hover, input[type="radio"]:focus, input[type="radio"]:hover {
    box-shadow: none;
    border-color: transparent; }

input[type="radio"]:before, input[type="radio"]:after {
  border-radius: 100%; }

input[type="radio"]:after {
  background-size: 10px 10px; }

input[type="submit"] {
  border-color: #38F2F2;
  width: fit-content; }
  input[type="submit"]:focus, input[type="submit"]:hover {
    box-shadow: none; }

.required {
  color: #D92124; }

#icons i {
  font-size: 32px;
  margin: 10px 20px 10px 0; }

.wrapper {
  margin: 0 auto;
  max-width: 1170px;
  position: relative; }
  @media screen and (max-width: 1170px) {
    .wrapper {
      margin: 0 40px; } }
  @media screen and (max-width: 758px) {
    .wrapper {
      margin: 0 20px; } }

.wrapper--small {
  margin: 0 auto;
  max-width: 930px;
  position: relative; }
  @media screen and (max-width: 1170px) {
    .wrapper--small {
      margin: 0 40px;
      max-width: 70vw; } }
  @media screen and (max-width: 758px) {
    .wrapper--small {
      margin: 0 40px;
      max-width: 100%; } }

.container {
  margin: 40px 0; }

.flex--ct {
  display: flex;
  justify-content: center; }

.flex--sb {
  display: flex;
  justify-content: space-between; }

.flex--st {
  display: flex;
  justify-content: flex-start; }

.flex--end {
  display: flex;
  justify-content: flex-end; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  box-sizing: border-box; }
  @media screen and (max-width: 960px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
      width: 100%; } }

@media screen and (max-width: 758px) {
  .col-m-1, .col-m-2, .col-m-3, .col-m-4, .col-m-5, .col-m-6, .col-m-7, .col-m-8, .col-m-9, .col-m-10, .col-m-11, .col-m-12 {
    width: 100%; } }

.col-1 {
  width: 8.3%; }

.col-2 {
  width: 16.6%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.4%; }

.col-5 {
  width: 41.6%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.3%; }

.col-8 {
  width: 66.7%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.3%; }

.col-11 {
  width: 91.6%; }

.col-12 {
  width: 100%; }

@media screen and (max-width: 960px) {
  .col-m-1 {
    width: 8.3%; }
  .col-m-2 {
    width: 16.6%; }
  .col-m-3 {
    width: 25%; }
  .col-m-4 {
    width: 33.4%; }
  .col-m-5 {
    width: 41.6%; }
  .col-m-6 {
    width: 50%; }
  .col-m-7 {
    width: 58.3%; }
  .col-m-8 {
    width: 66.7%; }
  .col-m-9 {
    width: 75%; }
  .col-m-10 {
    width: 83.3%; }
  .col-m-11 {
    width: 91.6%; }
  .col-m-12 {
    width: 100%; } }

@media screen and (max-width: 758px) {
  .col-xs-1 {
    width: 8.3%; }
  .col-xs-2 {
    width: 16.6%; }
  .col-xs-3 {
    width: 25%; }
  .col-xs-4 {
    width: 33.4%; }
  .col-xs-5 {
    width: 41.6%; }
  .col-xs-6 {
    width: 50%; }
  .col-xs-7 {
    width: 58.3%; }
  .col-xs-8 {
    width: 66.7%; }
  .col-xs-9 {
    width: 75%; }
  .col-xs-10 {
    width: 83.3%; }
  .col-xs-11 {
    width: 91.6%; }
  .col-xs-12 {
    width: 100%; } }

.chips {
  align-items: center;
  background: #38F2F2;
  border: 1px solid #38F2F2;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 10px 10px 10px 0;
  padding: 4px 12px;
  width: fit-content; }
  @media screen and (max-width: 500px) {
    .chips {
      padding: 4px 8px;
      margin: 5px 7px 5px 0; } }
  .chips__text {
    color: #000;
    font-family: "Roboto", "Calibri", "sans-serif";
    font-size: 16px;
    font-weight: 400;
    transition: color .5s ease-in-out; }
    @media screen and (max-width: 960px) {
      .chips__text {
        font-size: 14px; } }
    @media screen and (max-width: 500px) {
      .chips__text {
        font-size: 11px; } }
  .chips--disabled {
    background: #E9E9E9;
    border-color: transparent;
    cursor: not-allowed; }
    .chips--disabled .chips__img {
      filter: grayscale(3); }
    .chips--disabled .chips__text {
      color: #B9B9B9; }
  .chips--clicable {
    text-decoration: none;
    transition: all .5s ease-in-out; }
    .chips--clicable:hover {
      background: transparent; }
      .chips--clicable:hover .chips__text {
        color: #38F2F2; }
  .chips--secondary {
    background: transparent; }
    .chips--secondary .chips__text {
      color: #38F2F2; }
    .chips--secondary.chips--clicable:hover {
      background: #38F2F2; }
      .chips--secondary.chips--clicable:hover .chips__text {
        color: #000; }
  .chips--tertiary {
    background: #263640;
    border-color: #263640; }
    .chips--tertiary .chips__text {
      color: #fff; }
    .chips--tertiary.chips--clicable:hover .chips__text {
      color: #263640; }
    .chips--tertiary.chips--secondary {
      background: transparent; }
      .chips--tertiary.chips--secondary .chips__text {
        color: #263640; }
      .chips--tertiary.chips--secondary.chips--clicable:hover {
        background: #263640; }
        .chips--tertiary.chips--secondary.chips--clicable:hover .chips__text {
          color: #fff; }
  .chips--datas {
    background: #516373;
    border-color: #516373; }
    .chips--datas .chips__text {
      color: #fff; }
    .chips--datas.chips--clicable:hover .chips__text {
      color: #516373; }
    .chips--datas.chips--secondary {
      background: transparent; }
      .chips--datas.chips--secondary .chips__text {
        color: #516373; }
      .chips--datas.chips--secondary.chips--clicable:hover {
        background: #516373; }
        .chips--datas.chips--secondary.chips--clicable:hover .chips__text {
          color: #fff; }
  .chips--andamento {
    background: #FFB21D;
    border-color: #FFB21D; }
    .chips--andamento.chips--clicable:hover .chips__text {
      color: #FFB21D; }
    .chips--andamento.chips--secondary {
      background: transparent; }
      .chips--andamento.chips--secondary .chips__text {
        color: #FFB21D; }
      .chips--andamento.chips--secondary.chips--clicable:hover {
        background: #FFB21D; }
        .chips--andamento.chips--secondary.chips--clicable:hover .chips__text {
          color: #000;
          font-weight: 500; }
  .chips--concluido {
    background: #21B35B;
    border-color: #21B35B; }
    .chips--concluido .chips__text {
      color: #fff; }
    .chips--concluido.chips--clicable:hover .chips__text {
      color: #21B35B; }
    .chips--concluido.chips--secondary {
      background: transparent; }
      .chips--concluido.chips--secondary .chips__text {
        color: #21B35B; }
      .chips--concluido.chips--secondary.chips--clicable:hover {
        background: #21B35B; }
        .chips--concluido.chips--secondary.chips--clicable:hover .chips__text {
          color: #fff; }
  .chips--cancelado {
    background: #D92124;
    border-color: #D92124; }
    .chips--cancelado .chips__text {
      color: #fff; }
    .chips--cancelado.chips--clicable:hover .chips__text {
      color: #D92124; }
    .chips--cancelado.chips--secondary {
      background: transparent; }
      .chips--cancelado.chips--secondary .chips__text {
        color: #D92124; }
      .chips--cancelado.chips--secondary.chips--clicable:hover {
        background: #D92124; }
        .chips--cancelado.chips--secondary.chips--clicable:hover .chips__text {
          color: #fff; }

html:not([data-scroll='0']) menu, .page-template-contato menu, .error404 menu, .single menu {
  background: #fff;
  box-shadow: 5px 0 7px rgba(0, 0, 0, 0.3); }
  html:not([data-scroll='0']) menu ul li a, .page-template-contato menu ul li a, .error404 menu ul li a, .single menu ul li a {
    color: #000; }
    @media screen and (max-width: 960px) {
      html:not([data-scroll='0']) menu ul li a, .page-template-contato menu ul li a, .error404 menu ul li a, .single menu ul li a {
        color: #fff; } }
    html:not([data-scroll='0']) menu ul li a:after, .page-template-contato menu ul li a:after, .error404 menu ul li a:after, .single menu ul li a:after {
      background: #38F2F2; }

html:not([data-scroll='0']) .menu__burguer, .page-template-contato .menu__burguer, .error404 .menu__burguer, .single .menu__burguer {
  border-color: #000; }
  html:not([data-scroll='0']) .menu__burguer:before, html:not([data-scroll='0']) .menu__burguer:after, .page-template-contato .menu__burguer:before, .page-template-contato .menu__burguer:after, .error404 .menu__burguer:before, .error404 .menu__burguer:after, .single .menu__burguer:before, .single .menu__burguer:after {
    background: #000; }
  @media screen and (max-width: 960px) {
    html:not([data-scroll='0']) .menu__burguer.is-active, .page-template-contato .menu__burguer.is-active, .error404 .menu__burguer.is-active, .single .menu__burguer.is-active {
      border-color: #fff; } }
  @media screen and (max-width: 960px) {
    html:not([data-scroll='0']) .menu__burguer.is-active:before, html:not([data-scroll='0']) .menu__burguer.is-active:after, .page-template-contato .menu__burguer.is-active:before, .page-template-contato .menu__burguer.is-active:after, .error404 .menu__burguer.is-active:before, .error404 .menu__burguer.is-active:after, .single .menu__burguer.is-active:before, .single .menu__burguer.is-active:after {
      background: #fff; } }

html:not([data-scroll='0']) .menu__logo img, .page-template-contato .menu__logo img, .error404 .menu__logo img, .single .menu__logo img {
  filter: none; }

@media screen and (max-width: 960px) {
  html:not([data-scroll='0']) .menu.is-active .menu__logo img, .page-template-contato .menu.is-active .menu__logo img, .error404 .menu.is-active .menu__logo img, .single .menu.is-active .menu__logo img {
    filter: invert(1) brightness(5); } }

menu {
  background: transparent;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10; }
  @media screen and (max-width: 1200px) {
    menu {
      width: 100%; } }
  @media screen and (max-width: 960px) {
    menu {
      width: 100vw; } }
  @media screen and (max-width: 758px) {
    menu {
      left: -4px;
      top: -1px;
      width: 101vw; } }
  menu nav {
    align-items: center;
    margin: auto;
    max-width: 95%; }
    @media screen and (max-width: 960px) {
      menu nav {
        max-width: 100%; } }
  menu ul {
    margin: 0;
    padding: 0; }
    @media screen and (max-width: 960px) {
      menu ul {
        flex-direction: column;
        padding-top: 25px;
        width: 100%; } }
    menu ul li {
      list-style: none;
      margin: 0 0 0 25px;
      position: relative; }
      @media screen and (max-width: 1170px) {
        menu ul li {
          margin: 0 0 0 5px; } }
      @media screen and (max-width: 960px) {
        menu ul li {
          margin: 0;
          position: initial; } }
      @media screen and (max-width: 758px) {
        menu ul li {
          margin: -10px 0 20px 5px; } }
      menu ul li a {
        display: inline-block;
        font-family: "Julius", "Roboto", "Calibri", "sans-serif";
        font-size: 18px;
        font-weight: 400;
        padding: 20px;
        position: relative;
        text-decoration: none;
        transition: color .5s ease-in-out; }
        @media screen and (max-width: 1170px) {
          menu ul li a {
            font-size: 16px;
            padding: 20px 15px; } }
        @media screen and (max-width: 960px) {
          menu ul li a {
            font-size: 18px;
            font-weight: 400;
            margin: 0;
            padding: 20px; } }
        @media screen and (max-width: 758px) {
          menu ul li a {
            font-size: 16px;
            padding: 15px; } }
        menu ul li a:after {
          background: #38F2F2;
          content: '';
          bottom: 10px;
          height: 2px;
          left: 0;
          opacity: 0;
          position: absolute;
          transition: width 1.3s ease-in-out, opacity .3s ease-in-out;
          width: 0; }
          @media screen and (max-width: 960px) {
            menu ul li a:after {
              bottom: 5px;
              left: 20px; } }
          @media screen and (max-width: 758px) {
            menu ul li a:after {
              left: 12px; } }
        menu ul li a:hover:after {
          opacity: 1;
          width: 100%;
          transition: width .3s ease-in-out, opacity .5s ease-in-out; }
  menu i {
    font-size: 14px;
    margin-left: 5px; }
    @media screen and (max-width: 960px) {
      menu i {
        font-size: 16px;
        font-weight: 200;
        margin-left: 10px; } }

.menu {
  transition: background .5s ease-in-out; }
  .menu.is-active {
    background: #263640; }
    .menu.is-active .menu__content {
      left: 0;
      pointer-events: auto;
      z-index: 7; }
  .menu__logo {
    width: 15%;
    z-index: 8; }
    @media screen and (max-width: 960px) {
      .menu__logo {
        width: 35%; } }
    @media screen and (max-width: 600px) {
      .menu__logo {
        width: auto; } }
    .menu__logo img {
      filter: invert(1) brightness(5);
      transition: all .5s ease-in-out;
      width: 210px; }
      @media screen and (max-width: 960px) {
        .menu__logo img {
          margin-top: 5px;
          width: 100%; } }
      @media screen and (max-width: 758px) {
        .menu__logo img {
          width: 190px; } }
      .menu__logo img:hover {
        opacity: .7; }
  .menu__container {
    align-items: center;
    padding: 15px 0;
    z-index: 2; }
    @media screen and (max-width: 960px) {
      .menu__container {
        height: 70px;
        max-width: 100vw;
        padding: 8px 0; } }
  .menu__list {
    position: relative;
    transition: opacity .5s ease-in-out; }
    .menu__list.disabled {
      opacity: 0;
      pointer-events: none; }
  .menu__header {
    align-items: flex-start; }
    @media screen and (max-width: 960px) {
      .menu__header {
        align-items: center;
        padding: 10px 0; } }
  .menu__burguer {
    border-bottom: 2px solid;
    cursor: pointer;
    padding: 10px 0;
    position: relative;
    transition: all .5s ease-in-out;
    width: 30px;
    z-index: 10; }
    @media screen and (max-width: 758px) {
      .menu__burguer {
        margin: 3px 0 0; } }
    @media screen and (max-width: 600px) {
      .menu__burguer {
        margin: 3px 0 0; } }
    @media screen and (max-width: 500px) {
      .menu__burguer {
        padding: 7px 0;
        width: 25px; } }
    .menu__burguer.is-active {
      margin: -15px -10px 0 10px;
      transform: rotate(45deg); }
      @media screen and (max-width: 758px) {
        .menu__burguer.is-active {
          margin: -10px 10px 0 -10px;
          transform: rotate(-40deg); } }
      @media screen and (max-width: 600px) {
        .menu__burguer.is-active {
          margin: -13px 3px 0 -3px; } }
      .menu__burguer.is-active::before {
        top: 20px;
        transform: rotate(-85deg); }
        @media screen and (max-width: 758px) {
          .menu__burguer.is-active::before {
            transform: rotate(85deg); } }
        @media screen and (max-width: 500px) {
          .menu__burguer.is-active::before {
            top: 14px; } }
      .menu__burguer.is-active::after {
        opacity: 0; }
    .menu__burguer::before, .menu__burguer::after {
      border-radius: 5px;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      transition: all .5s ease-in-out;
      width: 30px; }
      @media screen and (max-width: 500px) {
        .menu__burguer::before, .menu__burguer::after {
          width: 25px; } }
    .menu__burguer::before {
      top: 1px; }
      @media screen and (max-width: 500px) {
        .menu__burguer::before {
          top: 0; } }
    .menu__burguer::after {
      bottom: 7px; }
      @media screen and (max-width: 960px) {
        .menu__burguer::after {
          left: auto;
          right: 0;
          width: 20px; } }
      @media screen and (max-width: 500px) {
        .menu__burguer::after {
          bottom: 5px; } }
  @media screen and (max-width: 960px) {
    .menu__content {
      background: #263640;
      box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
      height: 100vh;
      left: -200%;
      opacity: 1;
      padding: 10px 30px 0 20px;
      pointer-events: none;
      position: relative;
      top: 0px;
      transition: left .5s ease-in-out;
      z-index: -5;
      width: 40%; } }
  @media screen and (max-width: 758px) {
    .menu__content {
      height: calc(100vh - 65px);
      top: 13px;
      width: 45%; } }
  @media screen and (max-width: 500px) {
    .menu__content {
      box-shadow: none;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0 15px 20px;
      width: 101%; } }

menu ul li a {
  color: #fff;
  transition: all .5s ease-in-o9t; }
  menu ul li a:after {
    background: #38F2F2; }

.menu__burguer {
  border-color: #fff; }
  .menu__burguer:before, .menu__burguer:after {
    background: #fff; }

footer {
  background: #263640;
  padding: 70px 0 30px; }
  @media screen and (max-width: 1170px) {
    footer {
      padding: 70px 40px 30px; } }
  @media screen and (max-width: 960px) {
    footer {
      padding: 70px 20px 30px; } }
  @media screen and (max-width: 758px) {
    footer {
      padding: 60px 20px 40px; } }
  @media screen and (max-width: 500px) {
    footer {
      padding: 70px 20px 30px; } }

.footer__container {
  align-items: center;
  margin: auto; }
  @media screen and (max-width: 758px) {
    .footer__container {
      flex-direction: column-reverse;
      justify-content: center;
      text-align: center; } }

.footer__direitos {
  width: 50%; }
  @media screen and (max-width: 758px) {
    .footer__direitos {
      width: 100%; } }
  .footer__direitos h6 {
    color: #DFE7F2;
    font-family: "Julius", "Roboto", "Calibri", "sans-serif";
    font-weight: 300;
    margin: 0; }
    @media screen and (max-width: 758px) {
      .footer__direitos h6 {
        margin: 30px 0 0; } }

.footer__social {
  align-items: center; }
  @media screen and (max-width: 758px) {
    .footer__social {
      justify-content: center; } }
  .footer__social a {
    align-items: center;
    background: #38F2F2;
    border-radius: 3px;
    margin-left: 20px;
    height: 27px;
    text-decoration: none;
    width: 27px; }
    @media screen and (max-width: 758px) {
      .footer__social a {
        margin: 0 15px; } }
    .footer__social a i {
      color: #263640;
      font-size: 22px; }
      .footer__social a i.fa-facebook-f {
        margin: 0 -2px -5px 0; }

.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity .5s ease-in-out;
  width: 100vw;
  z-index: -1; }
  .modal__container {
    background-color: #263640;
    height: 90vh;
    margin: 0 auto;
    max-width: 1030px;
    padding: 70px;
    width: 100%; }
    @media screen and (max-width: 1170px) {
      .modal__container {
        width: 90vw; } }
    @media screen and (min-height: 800px) {
      .modal__container {
        height: auto; } }
    @media screen and (max-width: 500px) {
      .modal__container {
        padding: 40px 50px; } }
    .modal__container h3 {
      color: #38F2F2;
      margin: 0 0 40px;
      padding-left: 20px;
      position: relative; }
      .modal__container h3::before {
        background: #fff;
        content: '';
        height: 100%;
        left: 0;
        max-height: 35px;
        position: absolute;
        top: 0;
        width: 4px; }
  .modal__content {
    align-items: center;
    height: 0;
    margin: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1; }
    @media screen and (max-width: 758px) {
      .modal__content {
        margin-right: -30px;
        padding-right: 20px; } }
    .modal__content.active {
      height: 100%;
      opacity: 1;
      pointer-events: all;
      z-index: 11; }
    .modal__content video {
      height: 100%;
      object-fit: contain;
      width: 100%; }
  .modal__txt {
    width: 70%; }
    .modal__txt p {
      color: #fff;
      font-family: "Julius", "Roboto", "Calibri", "sans-serif";
      line-height: 1.6em;
      margin: 20px 0 0;
      text-transform: uppercase; }
  .modal__img {
    margin-right: 30px;
    max-width: 270px;
    width: 30%; }
    .modal__img img {
      height: 170px;
      object-fit: contain;
      width: 100%; }
  @media screen and (min-height: 800px) {
    .modal #modal-peculiar-paws {
      flex-direction: column-reverse;
      margin-top: 20px; } }
  @media screen and (max-width: 800px) {
    .modal #modal-peculiar-paws {
      margin: 0 -30px -40px -20px; } }
  @media screen and (max-width: 500px) {
    .modal #modal-peculiar-paws {
      margin: 30px -30px -40px -20px; } }
  @media screen and (max-width: 758px) {
    .modal #modal-peculiar-paws {
      flex-direction: column-reverse;
      overflow-y: auto; } }
  .modal #modal-peculiar-paws .modal__img, .modal #modal-peculiar-paws .modal__txt {
    width: 100%; }
  .modal #modal-peculiar-paws .modal__img {
    height: 100%;
    margin: 0;
    max-width: 300px; }
    @media screen and (max-width: 960px) {
      .modal #modal-peculiar-paws .modal__img {
        margin: 50px 0 0; } }
    @media screen and (max-width: 1024px) and (min-height: 1200px) {
      .modal #modal-peculiar-paws .modal__img {
        margin-top: 50px;
        max-width: 400px; } }
    @media screen and (max-width: 800px) {
      .modal #modal-peculiar-paws .modal__img {
        margin: 30px 0 0;
        max-width: 270px; } }
  .modal #modal-red-rim {
    margin: 0 -20px; }
    @media screen and (max-width: 1170px) {
      .modal #modal-red-rim {
        margin: 20px -20px 0; } }
    @media screen and (max-width: 960px) {
      .modal #modal-red-rim {
        margin: 0 0 20px; } }
    @media screen and (max-width: 800px) {
      .modal #modal-red-rim {
        margin: 50px 0 10px; } }
    @media screen and (max-width: 758px) {
      .modal #modal-red-rim {
        margin: 40px -30px 10px -20px; } }
    @media screen and (max-width: 500px) {
      .modal #modal-red-rim {
        margin: 30px -40px 10px -20px; } }
    .modal #modal-red-rim .flex--sb {
      align-items: center; }
      @media screen and (min-height: 800px) {
        .modal #modal-red-rim .flex--sb {
          flex-direction: column-reverse; } }
      @media screen and (max-width: 758px) {
        .modal #modal-red-rim .flex--sb {
          flex-direction: column-reverse; } }
    .modal #modal-red-rim .modal__txt {
      width: 50%; }
      @media screen and (min-height: 800px) {
        .modal #modal-red-rim .modal__txt {
          width: 100%; } }
      @media screen and (max-width: 758px) {
        .modal #modal-red-rim .modal__txt {
          width: 100%; } }
      .modal #modal-red-rim .modal__txt p {
        margin: 0; }
    .modal #modal-red-rim .modal__img {
      max-width: 70%;
      width: 100%; }
      @media screen and (max-width: 1170px) {
        .modal #modal-red-rim .modal__img {
          width: 65%; } }
      @media screen and (min-height: 800px) {
        .modal #modal-red-rim .modal__img {
          margin: 40px 0 0;
          max-width: 100%;
          width: 100%; } }
      @media screen and (max-width: 758px) {
        .modal #modal-red-rim .modal__img {
          margin: 40px 0 0;
          max-width: 100%;
          width: 100%; } }
  .modal #modal-prox-empreendimentos {
    margin: 0 -30px 0 -20px; }
    @media screen and (min-height: 800px) {
      .modal #modal-prox-empreendimentos {
        flex-direction: column-reverse;
        margin: -10px 0 30px; } }
    @media screen and (max-width: 758px) {
      .modal #modal-prox-empreendimentos {
        flex-direction: column-reverse;
        margin: -10px -40px 0 -20px; } }
    @media screen and (max-width: 500px) {
      .modal #modal-prox-empreendimentos {
        justify-content: space-around;
        margin: -80px -40px 0 -20px; } }
    .modal #modal-prox-empreendimentos .modal__txt {
      width: 60%; }
      @media screen and (min-height: 800px) {
        .modal #modal-prox-empreendimentos .modal__txt {
          width: 100%; } }
      @media screen and (max-width: 758px) {
        .modal #modal-prox-empreendimentos .modal__txt {
          width: 100%; } }
      @media screen and (max-width: 500px) {
        .modal #modal-prox-empreendimentos .modal__txt {
          margin: 50px 0 20px; } }
      .modal #modal-prox-empreendimentos .modal__txt p {
        margin: 0; }
    .modal #modal-prox-empreendimentos .modal__img {
      margin-right: 30px;
      max-width: 40%;
      width: 100%; }
      @media screen and (min-height: 800px) {
        .modal #modal-prox-empreendimentos .modal__img {
          margin: 40px 0 0;
          max-width: 100%; } }
      @media screen and (max-width: 758px) {
        .modal #modal-prox-empreendimentos .modal__img {
          margin: -20px 0 0;
          max-width: 100%; } }
      .modal #modal-prox-empreendimentos .modal__img img {
        height: auto;
        object-fit: contain;
        width: 100%; }
  .modal.active {
    opacity: 1;
    pointer-events: all;
    z-index: 10; }

.close {
  color: #7C92A6;
  cursor: pointer;
  font-family: "Julius", "Roboto", "Calibri", "sans-serif";
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  right: 40px;
  text-decoration: none;
  top: 23px;
  transition: color .5s ease-in-out; }
  .close:hover, .close:focus {
    color: #38F2F2; }

.banner {
  align-items: center;
  background: url(../images/global/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw; }
  @media screen and (max-width: 1380px) {
    .banner {
      height: 680px; } }
  @media screen and (max-width: 758px) {
    .banner {
      height: 450px; } }
  @media screen and (max-width: 500px) {
    .banner {
      height: 470px; } }
  .banner::after {
    background: url(../images/global/floco.svg) no-repeat;
    background-size: contain;
    content: '';
    height: 500px;
    left: 50%;
    opacity: .06;
    position: absolute;
    top: 70px;
    transform: translateX(-50%);
    width: 500px;
    z-index: 0; }
    @media screen and (max-width: 758px) {
      .banner::after {
        height: 290px;
        width: 290px; } }
    @media screen and (max-width: 500px) {
      .banner::after {
        height: 280px;
        width: 280px; } }
  .banner img {
    height: 335px;
    object-fit: contain;
    width: 570px;
    z-index: 1; }
    @media screen and (max-width: 758px) {
      .banner img {
        width: 400px; } }
    @media screen and (max-width: 500px) {
      .banner img {
        width: 80%; } }

.about {
  margin: 60px auto 70px;
  padding: 0;
  position: relative; }
  .about::before, .about::after {
    background: url(../images/sections/somos/somos-border.svg);
    background-repeat: no-repeat;
    content: '';
    height: 110px;
    left: 0;
    position: absolute;
    width: 100vw;
    z-index: 1; }
  .about::before {
    top: -110px; }
  .about::after {
    bottom: -110px;
    transform: rotate(180deg); }
  .about__container {
    margin: 0 auto;
    position: relative; }
    @media screen and (max-width: 960px) {
      .about__container {
        max-width: 85vw;
        padding: 80px 0 60px; } }
    @media screen and (max-width: 758px) {
      .about__container {
        margin: 0 40px;
        max-width: 100%;
        padding: 50px 0; } }
    @media screen and (max-width: 500px) {
      .about__container {
        margin: 0 20px; } }
    .about__container::before, .about__container::after {
      background: url(../images/sections/somos/somos-effect.svg);
      background-repeat: no-repeat;
      content: '';
      height: 600px;
      position: absolute;
      top: -90px;
      width: 50px;
      z-index: 5; }
      @media screen and (max-width: 1170px) {
        .about__container::before, .about__container::after {
          background-size: contain;
          top: 50%;
          transform: translateY(-50%); } }
      @media screen and (max-width: 758px) {
        .about__container::before, .about__container::after {
          height: 430px; } }
      @media screen and (max-width: 500px) {
        .about__container::before, .about__container::after {
          background: url(../images/global/contact-effect.svg) no-repeat;
          height: 50px;
          width: 140px; } }
    .about__container::before {
      left: -120px; }
      @media screen and (max-width: 960px) {
        .about__container::before {
          bottom: 0;
          left: 50%;
          transform: translateX(-50%) rotate(90deg); } }
      @media screen and (max-width: 758px) {
        .about__container::before {
          top: 103%;
          transform: translate(-50%, -50%) rotate(90deg); } }
      @media screen and (max-width: 500px) {
        .about__container::before {
          transform: translate(-50%, -50%); } }
    .about__container::after {
      right: -120px; }
      @media screen and (max-width: 960px) {
        .about__container::after {
          left: 50%;
          right: auto;
          top: 0;
          transform: translate(-50%, -50%) rotate(90deg); } }
      @media screen and (max-width: 500px) {
        .about__container::after {
          transform: translate(-50%, -50%); } }
    .about__container h3 {
      margin: 0 0 10px;
      padding-left: 20px;
      position: relative; }
      .about__container h3::before {
        background: #38F2F2;
        content: '';
        height: 100%;
        left: 0;
        max-height: 35px;
        position: absolute;
        top: 0;
        width: 4px; }
    .about__container p b {
      font-family: "Unbounded", "Roboto", "Calibri", "sans-serif";
      font-weight: 500; }
  .about__content {
    align-items: center; }
  .about__txt {
    width: 100%; }
    .about__txt p {
      color: #263640;
      font-family: "Julius", "Roboto", "Calibri", "sans-serif";
      line-height: 1.6em;
      margin: 20px 0 0;
      text-transform: uppercase; }
  .about__img {
    text-align: right;
    width: 40%; }
    .about__img img {
      object-fit: contain;
      width: 285px; }

.mission {
  background: url(../images/sections/missao/missao.jpg);
  margin: 70px auto;
  padding: 150px 0; }
  .mission__container {
    margin: 0 auto; }
    @media screen and (max-width: 1170px) {
      .mission__container {
        max-width: 85vw; } }
    .mission__container::before, .mission__container::after {
      background: url(../images/sections/somos/somos-effect.svg);
      background-repeat: no-repeat;
      height: 550px;
      position: absolute;
      top: -90px;
      width: 50px;
      z-index: 5; }
    .mission__container::before {
      left: -120px; }
    .mission__container::after {
      right: -120px; }
    .mission__container h3 {
      color: #38F2F2;
      margin: 0 0 10px;
      padding-left: 20px;
      position: relative; }
      .mission__container h3::before {
        background: #F9FAFC;
        content: '';
        height: 100%;
        left: 0;
        max-height: 35px;
        position: absolute;
        top: 0;
        width: 4px; }
    .mission__container p b {
      font-family: "Unbounded", "Roboto", "Calibri", "sans-serif";
      font-weight: 500; }
  .mission__content {
    align-items: center; }
  .mission__txt {
    width: 60%; }
    @media screen and (max-width: 960px) {
      .mission__txt {
        width: 100%; } }
    .mission__txt p {
      color: #F9FAFC;
      font-family: "Julius", "Roboto", "Calibri", "sans-serif";
      line-height: 1.6em;
      margin: 30px 0 0;
      text-transform: uppercase; }
  .mission__img {
    text-align: right;
    width: 40%; }
    @media screen and (max-width: 960px) {
      .mission__img {
        display: none; } }
    .mission__img img {
      filter: invert(1) brightness(5);
      object-fit: contain;
      width: 285px; }

.services {
  margin: 70px auto 80px;
  padding: 30px 0 10px;
  position: relative; }
  @media screen and (max-width: 1170px) {
    .services {
      padding: 10px 0 0; } }
  @media screen and (max-width: 960px) {
    .services {
      padding: 0; } }
  .services::before, .services::after {
    background: url(../images/sections/somos/somos-border.svg);
    background-repeat: no-repeat;
    content: '';
    height: 110px;
    left: 0;
    position: absolute;
    width: 100vw;
    z-index: 1; }
  .services::before {
    top: -110px; }
  .services::after {
    bottom: -110px;
    transform: rotate(180deg) scaleX(-1); }
  .services__container {
    margin: 0 auto; }
    @media screen and (max-width: 1170px) {
      .services__container {
        max-width: 75vw; } }
    @media screen and (max-width: 960px) {
      .services__container {
        padding: 70px 0 50px;
        max-width: 85vw; } }
    .services__container::before, .services__container::after {
      background: url(../images/sections/servicos/effect-sides.svg);
      background-repeat: no-repeat;
      content: '';
      height: 50px;
      position: absolute;
      width: 370px;
      top: 50%;
      transform: translateY(-50%) rotate(90deg);
      z-index: 5; }
      @media screen and (max-width: 1170px) {
        .services__container::before, .services__container::after {
          background-size: contain;
          height: 40px;
          width: 330px; } }
    .services__container::before {
      left: -290px; }
      @media screen and (max-width: 1170px) {
        .services__container::before {
          left: -250px; } }
      @media screen and (max-width: 960px) {
        .services__container::before {
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%) rotate(0);
          top: auto; } }
    .services__container::after {
      right: -270px; }
      @media screen and (max-width: 1170px) {
        .services__container::after {
          right: -240px; } }
      @media screen and (max-width: 960px) {
        .services__container::after {
          left: 50%;
          right: auto;
          top: -10px;
          transform: translateX(-50%) rotate(0); } }
    .services__container h3 {
      margin: 0 0 40px;
      padding-left: 20px;
      position: relative; }
      .services__container h3::before {
        background: #38F2F2;
        content: '';
        height: 100%;
        left: 0;
        max-height: 35px;
        position: absolute;
        top: 0;
        width: 4px; }
    .services__container p b {
      font-family: "Unbounded", "Roboto", "Calibri", "sans-serif";
      font-weight: 500;
      margin: 0 0 50px;
      text-transform: uppercase; }
  .services__content {
    align-items: center;
    margin: 40px 0; }
    @media screen and (max-width: 758px) {
      .services__content {
        flex-wrap: wrap;
        justify-content: center;
        margin: 70px auto;
        text-align: center; } }
    .services__content h3 {
      font-size: 18px;
      margin: 0 0 20px;
      padding: 0; }
      @media screen and (max-width: 1170px) {
        .services__content h3 {
          font-size: 16px; } }
      @media screen and (max-width: 758px) {
        .services__content h3 {
          margin: 20px 0; } }
      .services__content h3::before {
        display: none; }
  .services__txt {
    width: 70%; }
    @media screen and (max-width: 1170px) {
      .services__txt {
        width: 65%; } }
    @media screen and (max-width: 758px) {
      .services__txt {
        width: 90%; } }
    @media screen and (max-width: 500px) {
      .services__txt {
        width: 100%; } }
    .services__txt p {
      color: #263640;
      font-family: "Julius", "Roboto", "Calibri", "sans-serif";
      line-height: 1.6em;
      margin: 20px 0 0;
      text-transform: uppercase; }
      @media screen and (max-width: 1170px) {
        .services__txt p {
          font-size: 14px;
          line-height: 1.7em; } }
  .services__img {
    margin-right: 40px;
    max-width: 270px;
    position: relative;
    width: 30%; }
    @media screen and (max-width: 1170px) {
      .services__img {
        width: 35%; } }
    @media screen and (max-width: 758px) {
      .services__img {
        margin-right: 0;
        max-width: 290px;
        width: 100%; } }
    .services__img::before {
      background: url(../images/sections/servicos/effect-border.svg) no-repeat;
      content: '';
      height: 70px;
      left: -17px;
      position: absolute;
      top: -17px;
      transform: rotate(90deg);
      width: 70px;
      z-index: 5; }
    .services__img img {
      height: 170px;
      object-fit: cover;
      width: 100%; }

.projs {
  background: url(../images/sections/missao/missao.jpg);
  margin: 70px auto 80px;
  padding: 120px 0 140px;
  position: relative; }
  @media screen and (max-width: 758px) {
    .projs {
      padding: 120px 0 110px; } }
  @media screen and (max-width: 500px) {
    .projs {
      padding: 150px 0 110px; } }
  .projs::after {
    background: url(../images/sections/somos/somos-border.svg);
    background-repeat: no-repeat;
    content: '';
    height: 110px;
    left: 0;
    position: absolute;
    width: 100vw;
    z-index: 1; }
  .projs::after {
    bottom: -70px;
    transform: scaleX(-1); }
  .projs__container {
    margin: 0 auto; }
    @media screen and (max-width: 1170px) {
      .projs__container {
        max-width: 75vw; } }
    @media screen and (max-width: 758px) {
      .projs__container {
        margin: 0 40px;
        max-width: 100%; } }
    @media screen and (max-width: 500px) {
      .projs__container {
        margin: 0 20px; } }
    .projs__container::before, .projs__container::after {
      background: url(../images/sections/projs/projs-effect.svg);
      background-repeat: no-repeat;
      content: '';
      filter: invert(1);
      height: 415px;
      position: absolute;
      width: 330px; }
      @media screen and (max-width: 1170px) {
        .projs__container::before, .projs__container::after {
          background-size: contain;
          height: 350px;
          width: 250px; } }
      @media screen and (max-width: 758px) {
        .projs__container::before, .projs__container::after {
          height: 300px;
          width: 200px; } }
      @media screen and (max-width: 500px) {
        .projs__container::before, .projs__container::after {
          background-size: cover;
          height: 32px; } }
    .projs__container::before {
      bottom: -90px;
      left: -120px;
      transform: rotate(180deg); }
      @media screen and (max-width: 1170px) {
        .projs__container::before {
          bottom: -50px;
          left: -90px; } }
      @media screen and (max-width: 758px) {
        .projs__container::before {
          bottom: -30px;
          left: -20px; } }
      @media screen and (max-width: 500px) {
        .projs__container::before {
          left: 5px; } }
    .projs__container::after {
      right: -120px;
      top: -40px; }
      @media screen and (max-width: 1170px) {
        .projs__container::after {
          right: -90px; } }
      @media screen and (max-width: 758px) {
        .projs__container::after {
          right: -20px; } }
      @media screen and (max-width: 500px) {
        .projs__container::after {
          top: -70px;
          right: 5px; } }
    .projs__container h3 {
      color: #38F2F2;
      margin: 0 0 50px;
      padding-left: 20px;
      position: relative; }
      .projs__container h3::before {
        background: #fff;
        content: '';
        height: 100%;
        left: 0;
        max-height: 35px;
        position: absolute;
        top: 0;
        width: 4px; }
    @media screen and (max-width: 758px) {
      .projs__container p {
        line-height: 1.6em;
        max-width: 390px; } }
    .projs__container p b {
      color: #fff;
      font-family: "Unbounded", "Roboto", "Calibri", "sans-serif";
      font-weight: 500;
      text-transform: uppercase; }
  .projs__list {
    align-items: center;
    margin: 0 -1%; }
    @media screen and (max-width: 960px) {
      .projs__list {
        flex-direction: column;
        margin: 20px 0; } }
    .projs__list-item {
      cursor: pointer;
      margin: 6% 1% -3%;
      text-align: center;
      width: 30%;
      z-index: 2; }
      @media screen and (max-width: 960px) {
        .projs__list-item {
          margin: 40px auto 0 0;
          width: 50%; } }
      @media screen and (max-width: 758px) {
        .projs__list-item {
          margin: 30px auto;
          width: 320px; } }
      @media screen and (max-width: 500px) {
        .projs__list-item {
          width: 330px; } }
      .projs__list-item:nth-child(2) {
        margin: 30px auto 20px; }
        @media screen and (max-width: 960px) {
          .projs__list-item:nth-child(2) {
            margin: -60px 0 -100px auto; } }
        @media screen and (max-width: 758px) {
          .projs__list-item:nth-child(2) {
            margin: -50px auto; } }
      .projs__list-item h3 {
        color: #fff;
        font-size: 18px;
        height: 50px;
        margin: 0 0 30px;
        padding: 0;
        text-transform: uppercase;
        transition: color .5s ease-in-out; }
        @media screen and (max-width: 1170px) {
          .projs__list-item h3 {
            font-size: 16px; } }
        .projs__list-item h3::before {
          display: none; }
      .projs__list-item:hover h3 {
        color: #38F2F2; }
      .projs__list-item:hover img {
        opacity: .7; }
  .projs__img {
    height: 180px;
    margin-bottom: 20px; }
    @media screen and (max-width: 1170px) {
      .projs__img {
        height: 150px; } }
    @media screen and (max-width: 960px) {
      .projs__img {
        height: 190px; } }
    @media screen and (max-width: 500px) {
      .projs__img {
        height: 200px; } }
    .projs__img img {
      height: 100%;
      object-fit: cover;
      transition: opacity .5s ease-in-out;
      width: 100%; }

.ctt {
  margin: 70px auto 80px;
  padding: 10px 0 0;
  position: relative; }
  .ctt::after {
    background: url(../images/sections/somos/somos-border.svg);
    background-repeat: no-repeat;
    content: '';
    height: 110px;
    left: 0;
    position: absolute;
    width: 100vw;
    z-index: 1; }
  .ctt::after {
    bottom: -110px;
    transform: rotate(180deg) scaleX(-1); }
  .ctt__container {
    margin: 0 auto;
    position: relative; }
    @media screen and (max-width: 758px) {
      .ctt__container {
        margin: 0 40px; } }
    @media screen and (max-width: 500px) {
      .ctt__container {
        margin: 0 20px; } }
    .ctt__container h3 {
      margin: -10px 0 40px;
      padding-left: 20px;
      position: relative; }
      .ctt__container h3::before {
        background: #38F2F2;
        content: '';
        height: 100%;
        left: 0;
        max-height: 35px;
        position: absolute;
        top: 0;
        width: 4px; }
  .ctt__content h3 {
    font-size: 18px;
    font-family: "Unbounded", "Roboto", "Calibri", "sans-serif";
    text-transform: uppercase;
    margin: 0 0 30px;
    padding: 0; }
    @media screen and (max-width: 758px) {
      .ctt__content h3 {
        font-size: 16px; } }
    .ctt__content h3::before {
      display: none; }
  .ctt__content p {
    font-family: "Julius", "Roboto", "Calibri", "sans-serif";
    line-height: 1.6em;
    margin: 30px 0 40px;
    text-transform: uppercase; }
    @media screen and (max-width: 500px) {
      .ctt__content p {
        margin: 30px 0; } }
  .ctt__list {
    align-items: center;
    justify-content: space-around;
    position: relative; }
    @media screen and (max-width: 758px) {
      .ctt__list {
        justify-content: space-between; } }
    @media screen and (max-width: 500px) {
      .ctt__list {
        flex-direction: column; } }
    .ctt__list::before, .ctt__list::after {
      background: url(../images/global/contact-effect.svg);
      background-repeat: no-repeat;
      content: '';
      height: 50px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(90deg);
      width: 190px;
      z-index: 5; }
      @media screen and (max-width: 758px) {
        .ctt__list::before, .ctt__list::after {
          display: none; } }
    .ctt__list::before {
      left: -20%; }
      @media screen and (max-width: 1170px) {
        .ctt__list::before {
          left: -25%; } }
      @media screen and (max-width: 960px) {
        .ctt__list::before {
          left: -27%; } }
    .ctt__list::after {
      left: 100%; }
      @media screen and (max-width: 960px) {
        .ctt__list::after {
          left: 95%; } }
    .ctt__list-item {
      margin-bottom: 30px;
      text-align: center; }
      @media screen and (max-width: 500px) {
        .ctt__list-item {
          margin: 10px 0 30px; } }
      .ctt__list-item h4 {
        margin: 20px 0 10px;
        text-transform: uppercase; }
        @media screen and (max-width: 960px) {
          .ctt__list-item h4 {
            font-size: 18px; } }
        @media screen and (max-width: 758px) {
          .ctt__list-item h4 {
            font-size: 16px; } }
      .ctt__list-item p {
        font-size: 20px;
        margin: 0; }
        @media screen and (max-width: 960px) {
          .ctt__list-item p {
            font-size: 16px; } }
        @media screen and (max-width: 758px) {
          .ctt__list-item p {
            font-size: 18px; } }
    .ctt__list-img {
      align-items: center;
      height: 267px;
      margin: auto;
      position: relative;
      width: 267px; }
      @media screen and (max-width: 960px) {
        .ctt__list-img {
          height: 200px;
          width: 200px; } }
      .ctt__list-img::before {
        background: url(../images/global/logo.svg);
        background-size: contain;
        content: '';
        height: 100%;
        left: 50%;
        margin: 1px 0 0 1px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        width: 100%;
        z-index: 0; }
      .ctt__list-img img {
        border: 2px solid #000;
        border-radius: 100%;
        height: 170px;
        object-fit: contain;
        width: 170px;
        z-index: 1; }
        @media screen and (max-width: 960px) {
          .ctt__list-img img {
            height: 130px;
            width: 130px; } }
  .ctt__btn {
    margin: 40px 0 -20px; }
    @media screen and (max-width: 758px) {
      .ctt__btn {
        margin: 20px 0 -20px; } }
    @media screen and (max-width: 758px) {
      .ctt__btn .btn {
        font-size: 16px; } }
