.card {
    height: fit-content;
    margin-bottom: 30px;
    width: 570px;
    
    @include MQ($L) {
        width: 33%;
    }
    
    @include MQ($M) {
        max-width: 100%;
        width: 48%;
    }
    
    @include MQ($S) {
        width: 100%;
    }
    
    &__header {
        align-items: center;
        margin: 10px 5px 5px;
        
        i {
            font-size: 20px;
            margin: 0 0 5px 30px;
        }
        
        h4, &-title {
            margin: 0 0 10px;
        }
    }
    
    &__img {
        margin-bottom: 10px;
        max-height: 250px;
        max-width: 570px;
        
        @include MQ($M) {
            max-height: initial;
            margin-bottom: 5px;
            max-width: 100%;
        }
        
        img {
            border-radius: 10px;
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }
    
    &__body {
        color: $black;
        
        h4, &-title {
            font-size: 22px;
            font-weight: $bold;
            margin: 10px 0 15px;
            
            @include MQ($M) {
                font-size: 21px;
                margin: 10px 0;
            }
        }
        
        h6, &-subtitle {
            font-size: 18px;
            font-weight: $bold;
            margin: 5px 0 15px;
            
            @include MQ($M) {
                font-size: 16px;
            }
            
            @include MQ(600px) {
                font-size: 14px;
            }
        }
        
        p {
            color: rgba(35, 31, 32, 0.7);
            font-size: 18px;
            font-weight: $regular;
            line-height: 1.4em;
            margin: 0;
            
            @include MQ($M) {
                font-size: 16px;
            }
        }
    }
    
    &__btn {
        height: fit-content;
        margin: 15px 0 0;
    }
    
    &.flex--sb {
        align-items: center;
        border: 1px solid $tertiary;
        border-radius: 5px;
        margin-bottom: 20px;
        
        .card {
            &__img {
                border-radius: 10px;
                height: 110px;
                margin: 0;
                width: 110px;
                
                @include MQ($M) {
                    height: 80px;
                    width: 80px;
                }
            }
            
            &__body {
                width: calc(100% - 125px);
                
                @include MQ($M) {
                    width: calc(100% - 90px);
                }
                
                p {
                    max-width: 395px;
                    
                    @include MQ($M) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    
    &--secondary {
        border: 1px solid #C5C3A4;
        border-radius: 10px;
        margin: 3% 4% 3% 0;
        padding: 10px;
        text-decoration: none;
        transition: all .5s ease-in-out;
        width: 29%;
        
        img, .card__body-title {
            transition: all .5s ease-in-out;
        }
        
        .card__body {
            margin-top: 15px;
        }
        
        &:hover {
            border-color: $primary;
        }
    }
    
    &--full, &--large {
        padding: 0;
        position: relative;
        text-decoration: none;
        transition: opacity .5s ease-in-out;
        
        &:hover {
            opacity: .9;
        }
        
        &::before {
            border-radius: 5px;
            bottom: 0;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            width: 100%;
            z-index: 0;
        }
        
        .card {
            &__img {
                height: 100%;
                max-height: 100%;
                max-width: 100%;
                width: 100%;
            }
            
            &__body {
                bottom: 0;
                color: #fff;
                margin: 10px;
                position: absolute;
                z-index: 2;
            }
        }
    }
    
    &--full {
        height: 300px;
        max-height: 300px;
        max-width: 350px;
        width: 350px;
        
        @include MQ($M) {
            max-width: 100%;
            width: 48%;
        }
        
        @include MQ($S) {
            width: 100%;
        }
        
        &::before {
            background: linear-gradient(180deg, rgba(167, 167, 167, 0) 28.17%, #000000 91%);
        }
    }
    
    &--large {
        height: 380px;
        max-height: 380px;
        max-width: 670px;
        width: 670px;
        
        @include MQ($M) {
            max-width: 100%;
            width: 100%;
        }
        
        &::before {
            background: rgba(40, 40, 40, 0.6);
        }
    }

    a.card__body-subtitle {
        color: $black;
        display: block;
        font-size: 18px;
        font-weight: $bold;
        margin: 5px 0 15px;
        text-decoration: none;
    }
}