.membros {
    background: $secondary;
    margin: 200px 0 110px;
    
    @include MQ($M) {
        margin: 200px 0 40px;
    }
    
    &__content {
        align-items: center;
        height: 520px;
        position: relative;

        @include MQ($L) {
            height: auto;
            margin-top: 250px;
            padding: 370px 0 70px;
        }
        
        @include MQ($M) {
            justify-content: flex-start;
            margin: -50px 40px 50px;
            padding: 300px 0 70px;
        }

        @include MQ($S) {
            margin: -50px 20px 50px;
        }

        @include MQ($XS) {
            padding: 150px 0 0;
        }
    }
    
    &__img {
        height: 505px;
        left: -135px;
        position: absolute;
        top: -50px;
        width: 640px;
        
        @include MQ($L) {
            top: -200px;
        }

        @include MQ($M) {
            left: -60px;
            height: 300px;
            top: -60px;
            width: 75%;
        }

        @include MQ(600px) {
            left: -40px;
            width: 80%;
        }

        @include MQ($XS) {
            height: 230px;
            width: 95%;
        }
        
        img {
            border: 10px solid $white;
            border-radius: 10px;
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
        
        small {
            display: block;
            margin-top: 3px;
            text-align: right;
        }
    }
    
    &__desc {
        color: $primary;
        max-width: 560px;

        @include MQ($L) {
            max-width: 100%;
        }
        
        .h4 {
            margin: 0;
            max-width: 375px;
            
            @include MQ($M) {
                font-size: 28px;
            }
        }
        
        p {
            font-size: 22px;
            font-weight: 400;
            margin: 30px 0;
            
            @include MQ($M) {
                font-size: 16px;
                margin: 20px 0 30px;
            }
        }
        
        .btn {
            @include MQ($M) {
                justify-content: center;
                width: fit-content;
            }

            @include MQ(600px) {
                width: 100%;
            }
        }
    }
}