.modal {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: opacity .5s ease-in-out;
    width: 100vw;
    z-index: -1;
    
    &__container {
        background-color: $secondary;
        height: 90vh;
        margin: 0 auto;
        max-width: 1030px;
        padding: 70px;
        width: 100%;
        
        @include MQ($L) {
            width: 90vw;
        }
        
        @media screen and (min-height: 800px) {
            height: auto;
        }

        @include MQ($XS) {
            padding: 40px 50px;
        }
        
        h3 {
            color: $primary;
            margin: 0 0 40px;
            padding-left: 20px;
            position: relative;
            
            &::before {
                background: #fff;
                content: '';
                height: 100%;
                left: 0;
                max-height: 35px;
                position: absolute;
                top: 0;
                width: 4px;
            }
        }
    }
    
    &__content {
        align-items: center;
        height: 0;
        margin: 0;
        opacity: 0;
        pointer-events: none;
        z-index: -1;
            
        @include MQ($S) {
            margin-right: -30px;
            padding-right: 20px;
        }
        
        &.active {
            height: 100%;
            opacity: 1;
            pointer-events: all;
            z-index: 11;
        }
        
        video {
            height: 100%;
            object-fit: contain;
            width: 100%;
        }
    }
    
    &__txt {
        width: 70%;
        
        p {
            color: #fff;
            font-family: $font-secondary;
            line-height: 1.6em;
            margin: 20px 0 0;
            text-transform: uppercase;
        }
    }
    
    &__img {
        margin-right: 30px;
        max-width: 270px;
        width: 30%;
        
        img {
            height: 170px;
            object-fit: contain;
            width: 100%;
        }
    }
    
    #modal-peculiar-paws {
        @media screen and (min-height: 800px) {
            flex-direction: column-reverse;
            margin-top: 20px;
        }

        @include MQ(800px) {
            margin: 0 -30px -40px -20px;
        }

        @include MQ($XS) {
            margin: 30px -30px -40px -20px;
        }
            
        @include MQ($S) {
            flex-direction: column-reverse;
            overflow-y: auto;
        }
        
        .modal {
            &__img, &__txt {
                width: 100%;
            }

            &__img {
                height: 100%;
                margin: 0;
                max-width: 300px;
                
                @include MQ($M) {
                    margin: 50px 0 0;
                }
                
                @media screen and (max-width: 1024px) and (min-height: 1200px) {
                    margin-top: 50px;
                    max-width: 400px;
                }

                @include MQ(800px) {
                    margin: 30px 0 0;
                    max-width: 270px;
                }
            }
        }
    }
    
    #modal-red-rim {
        margin: 0 -20px;
        
        @include MQ($L) {
            margin: 20px -20px 0;
        }
        
        @include MQ($M) {
            margin: 0 0 20px;
        }

        @include MQ(800px) {
            margin: 50px 0 10px;
        }

        @include MQ($S) {
            margin: 40px -30px 10px -20px;
        }

        @include MQ($XS) {
            margin: 30px -40px 10px -20px;
        }
        
        .flex--sb {
            align-items: center;
        
            @media screen and (min-height: 800px) {
                flex-direction: column-reverse;
            }
            
            @include MQ($S) {
                flex-direction: column-reverse;
            }
        }
        
        .modal {
            &__txt {
                width: 50%;
        
                @media screen and (min-height: 800px) {
                    width: 100%;
                }
            
                @include MQ($S) {
                    width: 100%;
                }
                
                p {
                    margin: 0;
                }
            }
            
            &__img {
                max-width: 70%;
                width: 100%;
        
                @include MQ($L) {
                    width: 65%;
                }
        
                @media screen and (min-height: 800px) {
                    margin: 40px 0 0;
                    max-width: 100%;
                    width: 100%;
                }
                
                @include MQ($S) {
                    margin: 40px 0 0;
                    max-width: 100%;
                    width: 100%;
                }
            }
        }
    }
    
    #modal-prox-empreendimentos {
        margin: 0 -30px 0 -20px;
        
        @media screen and (min-height: 800px) {
            flex-direction: column-reverse;
            margin: -10px 0 30px;
        }
        
        @include MQ($S) {
            flex-direction: column-reverse;
            margin: -10px -40px 0 -20px;
        }

        @include MQ($XS) {
            justify-content: space-around;
            margin: -80px -40px 0 -20px;
        }
        
        .modal {
            &__txt {
                width: 60%;
        
                @media screen and (min-height: 800px) {
                    width: 100%;
                }

                @include MQ($S) {
                    width: 100%;
                }

                @include MQ($XS) {
                    margin: 50px 0 20px;
                }
                
                p {
                    margin: 0;
                }
            }
            
            &__img {
                margin-right: 30px;
                max-width: 40%;
                width: 100%;
        
                @media screen and (min-height: 800px) {
                    margin: 40px 0 0;
                    max-width: 100%;
                }

                @include MQ($S) {
                    margin: -20px 0 0;
                    max-width: 100%;
                }
                
                img {
                    height: auto;
                    object-fit: contain;
                    width: 100%;
                }
            }
        }
    }
    
    &.active {
        opacity: 1;
        pointer-events: all;
        z-index: 10;
    }
}

.close {
    color: $gray;
    cursor: pointer;
    font-family: $font-secondary;
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    right: 40px;
    text-decoration: none;
    top: 23px;
    transition: color .5s ease-in-out;
    
    &:hover,
    &:focus {
        color: $primary;
    }
}