.newsletter {
    background: $primary;
    padding: 50px 0;
    
    @include MQ($M) {
        padding: 30px 0;
    }
    
    &__content {
        align-items: center;
        color: $white;
        
        @include MQ($M) {
            flex-wrap: wrap;
        }
        
        .h2 {
            @include MQ($M) {
                font-size: 28px;
                margin-bottom: 5px;
            }
        }
    }
    
    &__form {
        @include MQ($M) {
            margin: 0;
        }
        
        .input {
            @include MQ($M) {
                padding: 0;
            }
        }
        
        label, ::placeholder {
            font-size: 18px;
            font-weight: $regular;
        }
        
        input {
            height: 52px;
            margin-top: 5px;
            
            @include MQ($M) {
                height: 45px;
            }
        }
        
        input[type=email] {
            background: $white;
            border-color: $white;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            font-size: 18px;
            
            @include MQ($M) {
                font-size: 16px;
            }
        }
        
        input[type=submit] {
            background: $secondary;
            border: 1px solid $secondary;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            color: $primary;
            
            &:hover {
                background: $primary;
                color: $secondary;
            }
        }
    }
}