.about {
    margin: 60px auto 70px;
    padding: 0;
    position: relative;
    
    &::before, &::after {
        background: url(../images/sections/somos/somos-border.svg);
        background-repeat: no-repeat;
        background-size: cover;
        content: '';
        height: 110px;
        left: 0;
        position: absolute;
        width: 100vw;
        z-index: 1;
    }
    
    &::before {
        top: -110px;
    }
    
    &::after {
        bottom: -110px;
        transform: rotate(180deg);
    }
    
    &__container {
        margin: 0 auto;
        position: relative;

        @include MQ($M) {
            max-width: 85vw;
            padding: 80px 0 60px;
        }

        @include MQ($S) {
            margin: 0 40px;
            max-width: 100%;
            padding: 50px 0;
        }

        @include MQ($XS) {
            margin: 0 20px;
        }

        &::before, &::after {
            background: url(../images/sections/somos/somos-effect.svg);
            background-repeat: no-repeat;
            content: '';
            height: 600px;
            position: absolute;
            top: -90px;
            width: 50px;
            z-index: 5;
        
            @include MQ($L) {
                background-size: contain;
                top: 50%;
                transform: translateY(-50%);
            }

            @include MQ($S) {
                height: 430px;
            }

            @include MQ($XS) {
                background: url(../images/global/contact-effect.svg) no-repeat;
                height: 50px;
                width: 140px;
            }
        }
        
        &::before {
            left: -120px;

            @include MQ($M) {
                bottom: 0;
                left: 50%;
                transform: translateX(-50%) rotate(90deg);
            }
            
            @include MQ($S) {
                top: 103%;
                transform: translate(-50%, -50%) rotate(90deg);
            }

            @include MQ($XS) {
                transform: translate(-50%, -50%);
            }
        }
        
        &::after {
            right: -120px;

            @include MQ($M) {
                left: 50%;
                right: auto;
                top: 0;
                transform: translate(-50%, -50%) rotate(90deg);
            }

            @include MQ($XS) {
                transform: translate(-50%, -50%);
            }
        }
        
        h3 {
            margin: 0 0 10px;
            padding-left: 20px;
            position: relative;

            &::before {
                background: $primary;
                content: '';
                height: 100%;
                left: 0;
                max-height: 35px;
                position: absolute;
                top: 0;
                width: 4px;
            }
        }
        
        p b {
            font-family: $font;
            font-weight: 500;
        }
    }

    &__content {
        align-items: center;
    }

    &__txt {
        width: 100%;

        p {
            color: $secondary;
            font-family: $font-secondary;
            line-height: 1.6em;
            margin: 20px 0 0;
            text-transform: uppercase;
        }
    }

    &__img {
        text-align: right;
        width: 40%;

        img {
            object-fit: contain;
            width: 285px;
        }
    }
}