.about {
    margin: 60px auto 70px;
    padding: 0;
    position: relative;

    &::before, &::after {
        background: url(../images/sections/somos/somos-border.svg);
        background-repeat: no-repeat;
        content: '';
        height: 110px;
        left: 0;
        position: absolute;
        width: 100vw;
        z-index: 1;
    }
    
    &::before {
        top: -110px;
    }
    
    &::after {
        bottom: -110px;
        transform: rotate(180deg);
    }
    
    &__container {
        margin: 0 auto;
        max-width: 930px;

        &::before, &::after {
            background: url(../images/sections/somos/somos-effect.svg);
            background-repeat: no-repeat;
            content: '';
            height: 600px;
            position: absolute;
            top: -90px;
            width: 50px;
            z-index: 5;
        }
        
        &::before {
            left: -120px;
        }
        
        &::after {
            right: -120px;
        }
        
        h3 {
            margin: 0 0 10px;
            padding-left: 20px;
            position: relative;

            &::before {
                background: $primary;
                content: '';
                height: 100%;
                left: 0;
                max-height: 35px;
                position: absolute;
                top: 0;
                width: 4px;
            }
        }
        
        p b {
            font-family: $font;
            font-weight: 500;
        }
    }

    &__content {
        align-items: center;
    }

    &__txt {
        width: 100%;

        p {
            color: $secondary;
            font-family: $font-secondary;
            line-height: 1.6em;
            margin: 20px 0 0;
            text-transform: uppercase;
        }
    }

    &__img {
        text-align: right;
        width: 40%;

        img {
            object-fit: contain;
            width: 285px;
        }
    }
}