.banner {
    align-items: center;
    background: url(../images/global/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    // position: relative;
    width: 100vw;
    
    &::after {
        background: url(../images/global/floco.svg) no-repeat;
        background-size: contain;
        content: '';
        height: 500px;
        left: 50%;
        opacity: .06;
        position: absolute;
        top: 70px;
        transform: translateX(-50%);
        width: 500px;
        z-index: 0;
    }
    
    @include MQ($S) {
        height: 200px;
    }
    
    // &__title {
    //     bottom: 50px;
    //     left: 0;
    //     position: absolute;
    //     z-index: 1;
        
    //     @include MQ($S) {
    //         bottom: 20px;
    //     }
        
    //     .h1 {
    //         color: #fff;
    //         margin: 0;
    //     }
    // }

    img {
        height: 335px;
        object-fit: contain;
        width: 570px;
        z-index: 1;
    }
}