.banner {
    align-items: center;
    background: url(../images/global/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    // position: relative;
    width: 100vw;

    @include MQ($XL) {
        height: 680px;
    }

    @include MQ($S) {
        height: 450px;
    }

    @include MQ($XS) {
        height: 470px;
    }
    
    &::after {
        background: url(../images/global/floco.svg) no-repeat;
        background-size: contain;
        content: '';
        height: 500px;
        left: 50%;
        opacity: .06;
        position: absolute;
        top: 70px;
        transform: translateX(-50%);
        width: 500px;
        z-index: 0;

        @include MQ($S) {
            height: 290px;
            width: 290px;
        }

        @include MQ($XS) {
            height: 280px;
            width: 280px;
        }
    }
    
    img {
        height: 335px;
        object-fit: contain;
        width: 570px;
        z-index: 1;

        @include MQ($S) {
            width: 400px;
        }

        @include MQ($XS) {
            width: 80%;
        }
    }
}