.projs {
    margin: 70px auto 80px;
    padding: 30px 0 0;
    position: relative;
    
    &::before, &::after {
        background: url(../images/sections/somos/somos-border.svg);
        background-repeat: no-repeat;
        content: '';
        height: 110px;
        left: 0;
        position: absolute;
        width: 100vw;
        z-index: 1;
    }
    
    &::before {
        top: -110px;
    }
    
    &::after {
        bottom: -110px;
        transform: rotate(180deg);
    }
    
    &__container {
        margin: 0 auto;
        max-width: 930px;
        
        &::before, &::after {
            background: url(../images/sections/projs/projs-effect.svg);
            background-repeat: no-repeat;
            content: '';
            height: 415px;
            position: absolute;
            width: 330px;
            z-index: 5;
        }
        
        &::before {
            bottom: 0;
            left: -120px;
            transform: rotate(180deg);
        }
        
        &::after {
            right: -120px;
            top: -40px;
        }
        
        h3 {
            margin: 0 0 50px;
            padding-left: 20px;
            position: relative;
            
            &::before {
                background: $primary;
                content: '';
                height: 100%;
                left: 0;
                max-height: 35px;
                position: absolute;
                top: 0;
                width: 4px;
            }
        }
    }
    
    &__content {
        align-items: center;
        margin: 30px 0;
        
        h3 {
            margin: 0 0 30px;
            padding: 0;
            
            &::before {
                display: none;
            }
        }
    }
    
    &__txt {
        width: 70%;

        p {
            color: $secondary;
            font-family: $font-secondary;
            line-height: 1.6em;
            margin: 30px 0 0;
            text-transform: uppercase;
        }
    }
    
    &__img {
        margin-right: 30px;
        max-width: 270px;
        width: 30%;
        
        img {
            height: 170px;
            object-fit: contain;
            width: 100%;
        }
    }

    &__btn {
        margin-top: 40px;
    }
}