.projs {
    background: url(../images/sections/missao/missao.jpg);
    margin: 70px auto 80px;
    padding: 120px 0 140px;
    position: relative;
    
    &::after {
        background: url(../images/sections/somos/somos-border.svg);
        background-repeat: no-repeat;
        content: '';
        height: 110px;
        left: 0;
        position: absolute;
        width: 100vw;
        z-index: 1;
    }
    
    &::after {
        bottom: -70px;
        transform: scaleX(-1);
    }
    
    &__container {
        margin: 0 auto;
        max-width: 930px;
        
        &::before, &::after {
            background: url(../images/sections/projs/projs-effect.svg);
            background-repeat: no-repeat;
            content: '';
            filter: invert(1);
            height: 415px;
            position: absolute;
            width: 330px;
        }
        
        &::before {
            bottom: -90px;
            left: -120px;
            transform: rotate(180deg);
        }
        
        &::after {
            right: -120px;
            top: -40px;
        }
        
        h3 {
            color: $primary;
            margin: 0 0 50px;
            padding-left: 20px;
            position: relative;
            
            &::before {
                background: #fff;
                content: '';
                height: 100%;
                left: 0;
                max-height: 35px;
                position: absolute;
                top: 0;
                width: 4px;
            }
        }
        
        p b {
            color: #fff;
            font-family: $font;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
    
    &__list {
        align-items: center;
        margin: 0 -1%;
        
        &-item {
            cursor: pointer;
            margin: 6% 1% -3%;
            text-align: center;
            width: 30%;
            z-index: 2;
            
            &:nth-child(2) {
                margin: 30px auto 20px;
            }            
            
            h3 {
                color: #fff;
                font-size: 18px;
                height: 50px;
                margin: 0 0 30px;
                padding: 0;
                text-transform: uppercase;
                transition: color .5s ease-in-out;
                
                &::before {
                    display: none;
                }
            }
            
            &:hover {
                h3 {
                    color: $primary;
                }
                
                img {
                    opacity: .7;
                }
            }
        }
    }
    
    &__img {
        height: 180px;
        margin-bottom: 20px;
        
        img {
            height: 100%;
            object-fit: cover;
            transition: opacity .5s ease-in-out;
            width: 100%;
        }
    }
}