.services {
    margin: 70px auto 80px;
    padding: 30px 0 10px;
    position: relative;
    
    @include MQ($L) {
        padding: 10px 0 0;
    }

    @include MQ($M) {
        padding: 0;
    }
    
    &::before, &::after {
        background: url(../images/sections/somos/somos-border.svg);
        background-repeat: no-repeat;
        background-size: cover;
        content: '';
        height: 110px;
        left: 0;
        position: absolute;
        width: 100vw;
        z-index: 1;
    }
    
    &::before {
        top: -110px;
    }
    
    &::after {
        bottom: -110px;
        transform: rotate(180deg) scaleX(-1);
    }
    
    &__container {
        margin: 0 auto;
        
        @include MQ($L) {
            max-width: 75vw;
        }

        @include MQ($M) {
            padding: 70px 0 50px;
            max-width: 85vw;
        }
        
        &::before, &::after {
            background: url(../images/sections/servicos/effect-sides.svg);
            background-repeat: no-repeat;
            content: '';
            height: 50px;
            position: absolute;
            width: 370px;
            top: 50%;
            transform: translateY(-50%) rotate(90deg);
            z-index: 5;
            
            @include MQ($L) {
                background-size: contain;
                height: 40px;
                width: 330px;
            }
        }
        
        &::before {
            // bottom: 90px;
            left: -290px;
            
            @include MQ($L) {
                left: -250px;
            }

            @include MQ($M) {
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%) rotate(0);
                top: auto;
            }
        }
        
        &::after {
            right: -270px;
            // top: 120px;
            
            @include MQ($L) {
                right: -240px;
            }

            @include MQ($M) {
                left: 50%;
                right: auto;
                top: -10px;
                transform: translateX(-50%) rotate(0);
            }
        }
        
        h3 {
            margin: 0 0 40px;
            padding-left: 20px;
            position: relative;
            
            &::before {
                background: $primary;
                content: '';
                height: 100%;
                left: 0;
                max-height: 35px;
                position: absolute;
                top: 0;
                width: 4px;
            }
        }
        
        p b {
            font-family: $font;
            font-weight: 500;
            margin: 0 0 50px;
            text-transform: uppercase;
        }
    }
    
    &__content {
        align-items: center;
        margin: 40px 0;
            
        @include MQ($S) {
            flex-wrap: wrap;
            justify-content: center;
            margin: 70px auto;
            text-align: center;
        }
        
        h3 {
            font-size: 18px;
            margin: 0 0 20px;
            padding: 0;
            
            @include MQ($L) {
                font-size: 16px;
            }
            
            @include MQ($S) {
                margin: 20px 0;
            }
            
            &::before {
                display: none;
            }
        }
    }
    
    &__txt {
        width: 70%;
        
        @include MQ($L) {
            width: 65%;
        }

        @include MQ($S) {
            width: 90%;
        }

        @include MQ($XS) {
            width: 100%;
        }
        
        p {
            color: $secondary;
            font-family: $font-secondary;
            line-height: 1.6em;
            margin: 20px 0 0;
            text-transform: uppercase;
            
            @include MQ($L) {
                font-size: 14px;
                line-height: 1.7em;
            }
        }
    }
    
    &__img {
        margin-right: 40px;
        max-width: 270px;
        position: relative;
        width: 30%;
        
        @include MQ($L) {
            width: 35%;
        }
            
        @include MQ($S) {
            margin-right: 0;
            max-width: 290px;
            width: 100%;
        }
        
        &::before {
            background: url(../images/sections/servicos/effect-border.svg) no-repeat;
            content: '';
            height: 70px;
            left: -17px;
            position: absolute;
            top: -17px;
            transform: rotate(90deg);
            width: 70px;
            z-index: 5;
        }
        
        img {
            height: 170px;
            object-fit: cover;
            width: 100%;
        }
    }
}