/* ___ Fonts ___ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-VariableFont_wdth_wght.ttf);
    font-weight: 100 750;
}


$font: 'OpenSans', 'Roboto', 'Calibri', 'sans-serif';
 
$thin: 100;
$light: 300;
$regular: 400;
$medium: 580;
$bold: 750;


/* ___ Colors ___ */
$primary: #234E70;
$secondary: #FAF7C0;
$tertiary: #C5C3A4;

$black: #231F20;
$gray-dark: #64798D;
$gray-light: #80969F;
$white: #FFF;

$green: #2CBB96;
$green-light: #D3E179;
$yellow: #F2EF75;
$blue: #45B0E4;
$purple: #B980B3;
$lilac: #BBA5AE;

$status-success: #21B35B;
$status-warning: #FFB21D;
$status-failed: #D92124;
$status-info: #297FFF;


/* ___ Media Query ___ */
@mixin MQ($size) {
    @media screen and (max-width: $size) {
        @content;
    }
}

$XS: 500px;
$S: 770px;
$M: 995px;
$L: 1170px;
$XL: 1380px;